<div>
    <h4 class="ml-2 mt-2 text-bold-500 text-left"><i class="icon-envelope-letter mr-1 float-left"></i> Contact Us List</h4>
    <br>



    <!-- <button (click)="showPage('add')" type="submit" class="btn btn-raised btn-primary rightx">
        New Message
    </button> -->


    <br>

    <div class='dragdrop-container' *ngIf="currentPage === 'list'">



        

    </div>

    <div class='dragdrop-container' *ngIf="currentPage === 'add'">

     
        

    </div>




</div>