<div>
    <h4><i class="icon-key"></i> {{"Answers List" | translate}} </h4>
  
    <br>
  
    <button (click)="showPage('add')" type="submit" class="btn btn-raised btn-primary  rightx">
       <i class="ft-clipboard"></i>  {{"Put New Answer" | translate}}
  
    </button>
  
       
  <button  (click)="backfun()" type="submit" class="btn btn-raised btn-warning mr-1 leftx">
    {{"Back" | translate}}
  </button>

  

    <br>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'list'">
      <div class="col-md-6 justify-content-center text-center m-auto mb-4">
        <form class="navbar-form navbar-right mt-1 w-100 mb-2" role="search">
          <div class="position-relative has-icon-right">
              <input   (keyup)="search3($event.target.value)"   type="text" class="form-control round" placeholder="Search">
              <div class="form-control-position">
                  <i class="ft-search"></i>
              </div>
          </div>
      </form>
      </div>
      <div class="row w-100 justify-content-center">
        <div class="row  w-100 text-left justify-content-center" matchHeight="card">
          <div class="col-xl-6 col-lg-6 col-12" *ngFor="let s of branch | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card">
              <div class="card-header" style="float: right;">
    
                <a (click)="deleteTask(s.answer_id)" class="danger p-0" style="float: right;" data-original-title="" title="">
                  <i class="ft-x font-medium-3 mr-2"></i>
                </a>
                <a (click)="updatetask('edit',s.answer_id)" class="success p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
              </div>
              <div class="card-content" style="cursor: pointer;">
                <div class=" py-3" style="  padding-bottom:0px !important;">
                  <div class="media align-self-center">
                    <div class="media-body text-center">
                      <h3 class="mb-1" style="font-family: 'Poppins', 'Janna', sans-serif ">{{s.answer}}</h3>
                   
                      <hr style="margin-top: 0px !important; border-color: black;width: 120px; ">
                    
                      
                  
                      
    
                    </div>
    
                   
                    <!-- <div class="media-right align-self-center">
                                <i class="icon-flag danger font-large-2 float-right"></i>
                              </div> -->
                  </div>
                </div>
              </div>
             
              
            </div>
          </div>
    
    
        </div>
      </div>
     
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'add'">
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"New Answer" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
  
  
  
                <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
                      <div class="form-group col-md-12 mb-2">
                        <label for="name">Name In Arabic </label>
                        <input formControlName="answer" type="text" id="name" class="form-control border-primary"
                          placeholder="name In Arabic">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.answer.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_name">Name In English </label>
                        <input formControlName="E_answer" type="text" id="E_name" class="form-control border-primary"
                          placeholder="name In English">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_answer.errors?.required">This field is
                          required.
                        </div>
                      </div>


                      
                      <div class="form-group col-md-12 mb-2">
                        <label for="degree">degree </label>
                        <input formControlName="degree" type="number" id="degree" class="form-control border-primary"
                          placeholder="degree">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.degree.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                      
                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'edit'">
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"Update Answer" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
  
  
  
                <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
                      <div class="form-group col-md-12 mb-2">
                        <label for="name">Name In Arabic </label>
                        <input formControlName="answer" type="text" id="name" class="form-control border-primary"
                          placeholder="name In Arabic">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.answer.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_name">Name In English </label>
                        <input formControlName="E_answer" type="text" id="E_name" class="form-control border-primary"
                          placeholder="name In English">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_answer.errors?.required">This field is
                          required.
                        </div>
                      </div>


                      
                      <div class="form-group col-md-12 mb-2">
                        <label for="degree">degree </label>
                        <input formControlName="degree" type="number" id="degree" class="form-control border-primary"
                          placeholder="degree">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.degree.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                      
                    </div>
  
  
  
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  
  
  </div>