<h4 *ngIf="currentPage === 'list' && all == true "><i class="icon-paper-clip m-1"></i> {{"All Reservations List" | translate}}   </h4>
  


      
          <!--Error page starts-->
          <section id="error" *ngIf="currentPage === 'list' && all != true " >
            <div class="container-fluid forgot-password-bg">
              <div class="row full-height-vh">
                <div class="col-12 d-flex align-items-center justify-content-center">
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
                      <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
                      <div class="error-text w-75 mx-auto mt-4">
                        <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
                      </div>
                      <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
                         {{"Return" | translate}}  </a></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--Error page ends-->
  
<div class='dragdrop-container' *ngIf="currentPage === 'list' && all == true ">

  <br>

  

  <div class="row ">


<!--     <div class="col-xl-12 col-lg-12 col-md-12 col-12">
		
      <div class="card">
      
        
        <div class="card-content">
          <div class="px-3">
    
          <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
            <div class="form-body">
    
    
            <div class="row justify-content-center">
    
            
              
              <div class="form-group col-md-5 mb-2">
              <label for="date_from"> Start Date</label>
              <input formControlName="date_from" type="date" id="date_from" class="form-control border-primary"
               >
           
              </div>
    
              <div class="form-group col-md-5 mb-2">
              <label for="date_to"> End Date</label>
              <input formControlName="date_to" type="date" id="date_to" class="form-control border-primary"
              >
              
              </div>
  
              <div class="form-group col-md-2 mb-2">
            
              <button style="margin-top: 30px;" type="submit" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Update
                </button>
  
              </div>
    
             
    
    
    
            </div>
    
    
            </div>
    
          
            
          </form>
    
          </div>
        </div>
        </div>
    </div> -->
    
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{"All Reservations" | translate}} </h4>
        </div>
        <div class="card-content">
          <div class="card-body">








            <ngb-tabset [justify]="currentJustify"> 
         

              <ngb-tab *ngIf="all == true" >
                <ng-template  ngbTabTitle> <b>  {{"wait" | translate}} </b>   <i *ngIf="notcative?.id" style="color: red;" class="ft-info"></i></ng-template>
                <ng-template  ngbTabContent>
               
                    <div class='dragdrop-container' >
                      <div class="px-3">
    
                        <form class="form" [formGroup]="Userform1" (submit)="filter_by_date_branch(Userform1.value)">
                          <div class="form-body">
                  
                  
                          <div class="row justify-content-center">
                  
                          
                            
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_from"> Start Date</label>
                            <input formControlName="date_from" type="date" id="date_from" class="form-control border-primary"
                             >
                         
                            </div>
                  
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_to"> End Date</label>
                            <input formControlName="date_to" type="date" id="date_to" class="form-control border-primary"
                            >
                            
                            </div>
                
                            <div class="form-group col-md-2 mb-2">
                          
                            <button style="margin-top: 30px;" type="submit" class="btn btn-raised btn-primary">
                              <i class="fa fa-check-square-o"></i> Update
                              </button>
                
                            </div>
                  
                           
                  
                  
                  
                          </div>
                  
                  
                          </div>
                  
                        
                          
                        </form>
                  
                        </div>
        
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <!-- <th>{{"Image" | translate}} </th> -->
                        <th>{{"User Name" | translate}}</th>
                        <th>{{"Trainer Name" | translate}}</th>
                        <th>{{"Price" | translate}}</th>
                        <th>{{"Date" | translate}}</th>
                        <th>{{"From - To"  | translate}}</th>
                        <th>{{"Payment" | translate}}</th>
                        <th>{{ "" | translate}}</th>
      
                        <!-- <th>{{"Action" | translate}}</th> -->
                      </tr>
                    </thead>
                    <tbody>
                    
                        
                      <tr *ngFor="let s of copy_of_branch | paginate: { itemsPerPage: 10, currentPage: p }">
                      <!-- <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                            style="height: 50px; width: 50px; border-radius: 25px;" /></td> -->
                        <td>{{s.user_name}}</td>
                        <td>{{s.trainer_name}}</td>
      
                        <td>{{s.price}}</td>
                        <td>{{s.date}}</td>
                        <td>{{s.time_from}} - {{s.time_to}}</td>
                        <td>{{s.payment}}</td>
                      <!--   <td>{{s.state}}</td> -->
      
                        
                         <td>
                          <a (click)="acceptTask(s.id)" class="success p-0" data-original-title="Accept Reservation" title="Accept Reservation">
                            <i class=" ft-user-check font-medium-3 mr-2"></i>
                          </a>
      
                          <a (click)="deleteTask(s.id)" class="danger p-0" data-original-title="Block Reservation" title="Block Reservation">
                            <i class="ft-user-x font-medium-3 mr-2"></i>
                          </a>
                        </td>  
                      </tr>
                      
      
                    </tbody>
                  </table>
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            
                        </div>
<!--                         <div class="form-actions " style="padding: 24px;">
                           <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1 {{'back-btn'|translate}}">
                           <i class="ft-x"></i> {{'Back'|translate}}
                           </button>
                        </div> -->

                </ng-template>
              </ngb-tab>
 

              <ngb-tab *ngIf="show_acceptedreservations == true">
                <ng-template  ngbTabTitle> <b> {{"accepted" | translate}}</b>  </ng-template>
                <ng-template  ngbTabContent> 
                   
                    <div class='dragdrop-container' >
                      <div class="px-3">
    
                        <form class="form" [formGroup]="Userform2" (submit)="filter_by_date_accepted(Userform2.value)">
                          <div class="form-body">
                  
                  
                          <div class="row justify-content-center">
                  
                          
                            
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_from"> Start Date</label>
                            <input formControlName="date_from" type="date" id="date_from" class="form-control border-primary"
                             >
                         
                            </div>
                  
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_to"> End Date</label>
                            <input formControlName="date_to" type="date" id="date_to" class="form-control border-primary"
                            >
                            
                            </div>
                
                            <div class="form-group col-md-2 mb-2">
                          
                            <button style="margin-top: 30px;" type="submit" class="btn btn-raised btn-primary">
                              <i class="fa fa-check-square-o"></i> Update
                              </button>
                
                            </div>
                  
                           
                  
                  
                  
                          </div>
                  
                  
                          </div>
                  
                        
                          
                        </form>
                  
                        </div>
       
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <!-- <th>{{"Image" | translate}} </th> -->
                        <th>{{"User Name" | translate}}</th>
                        <th>{{"Trainer Name" | translate}}</th>
                        <th>{{"Price" | translate}}</th>
                        <th>{{"Date" | translate}}</th>
                        <th>{{"From - To"  | translate}}</th>
                        <th>{{"Payment" | translate}}</th>
                        <th>{{"State" | translate}}</th>
      
                        <!-- <th>{{"Action" | translate}}</th> -->
                      </tr>
                    </thead>
                    <tbody>
                    
                        
                      <tr *ngFor="let s of copy_of_accepted | paginate: { itemsPerPage: 10, currentPage: pp }">
                      <!-- <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                            style="height: 50px; width: 50px; border-radius: 25px;" /></td> -->
                        <td>{{s.user_name}}</td>
                        <td>{{s.trainer_name}}</td>
      
                        <td>{{s.price}}</td>
                        <td>{{s.date}}</td>
                        <td>{{s.time_from}} - {{s.time_to}}</td>
                        <td>{{s.payment}}</td>
                        <td>{{s.state}}</td>
      
                        
                         <!-- <td>
                          <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                            <i class="icon-wallet font-medium-3 mr-2"></i>
                          </a>
      
                          <a (click)="deleteTask(s.id)" class="danger p-0" data-original-title="Block User" title="Block User">
                            <i class="ft-user-x font-medium-3 mr-2"></i>
                          </a>
                        </td>  -->
                      </tr>
                      
      
                    </tbody>
                  </table>
                            <pagination-controls (pageChange)="pp = $event"></pagination-controls>
                        </div>
<!--                         <div class="form-actions " style="padding: 24px;">
                           <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1 {{'back-btn'|translate}}">
                           <i class="ft-x"></i> {{'Back'|translate}}
                           </button>
                        </div> -->

                </ng-template>
              </ngb-tab>


              <ngb-tab  *ngIf="show_completereservations == true">
                <ng-template ngbTabTitle> {{"complete" | translate}} <b ></b></ng-template>
                <ng-template ngbTabContent>
                  
                    <div class='dragdrop-container' >

                      <div class="px-3">
    
                        <form class="form" [formGroup]="Userform3" (submit)="filter_by_date_complete(Userform3.value)">
                          <div class="form-body">
                  
                  
                          <div class="row justify-content-center">
                  
                          
                            
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_from"> Start Date</label>
                            <input formControlName="date_from" type="date" id="date_from" class="form-control border-primary"
                             >
                         
                            </div>
                  
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_to"> End Date</label>
                            <input formControlName="date_to" type="date" id="date_to" class="form-control border-primary"
                            >
                            
                            </div>
                
                            <div class="form-group col-md-2 mb-2">
                          
                            <button style="margin-top: 30px;" type="submit" class="btn btn-raised btn-primary">
                              <i class="fa fa-check-square-o"></i> Update
                              </button>
                
                            </div>
                  
                           
                  
                  
                  
                          </div>
                  
                  
                          </div>
                  
                        
                          
                        </form>
                  
                        </div>
    
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <!-- <th>{{"Image" | translate}} </th> -->
                        <th>{{"User Name" | translate}}</th>
                        <th>{{"Trainer Name" | translate}}</th>
                        <th>{{"Price" | translate}}</th>
                        <th>{{"Date" | translate}}</th>
                        <th>{{"From - To"  | translate}}</th>
                        <th>{{"Payment" | translate}}</th>
                        <th>{{"State" | translate}}</th>
      
                        <!-- <th>{{"Action" | translate}}</th> -->
                      </tr>
                    </thead>
                    <tbody>
                    
                        
                      <tr *ngFor="let s of copy_of_complete | paginate: { itemsPerPage: 10, currentPage: ppp }">
                      <!-- <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                            style="height: 50px; width: 50px; border-radius: 25px;" /></td> -->
                        <td>{{s.user_name}}</td>
                        <td>{{s.trainer_name}}</td>
      
                        <td>{{s.price}}</td>
                        <td>{{s.date}}</td>
                        <td>{{s.time_from}} - {{s.time_to}}</td>
                        <td>{{s.payment}}</td>
                        <td>{{s.state}}</td>
      
                        
                         <!-- <td>
                          <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                            <i class="icon-wallet font-medium-3 mr-2"></i>
                          </a>
      
                          <a (click)="deleteTask(s.id)" class="danger p-0" data-original-title="Block User" title="Block User">
                            <i class="ft-user-x font-medium-3 mr-2"></i>
                          </a>
                        </td>  -->
                      </tr>
                      
      
                    </tbody>
                  </table>
                            <pagination-controls (pageChange)="ppp = $event"></pagination-controls>
                        </div>
<!--                         <div class="form-actions " style="padding: 24px;">
                           <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1 {{'back-btn'|translate}}">
                           <i class="ft-x"></i> {{'Back'|translate}}
                           </button>
                        </div> -->
        
                </ng-template>
              </ngb-tab>



              <ngb-tab *ngIf="show_canceledreservations == true" >
                <ng-template ngbTabTitle> {{"canceled" | translate}} <b ></b></ng-template>
                <ng-template ngbTabContent>
                  
                    <div class='dragdrop-container' >

                      <div class="px-3">
    
                        <form class="form" [formGroup]="Userform4" (submit)="filter_by_date_canceled(Userform4.value)">
                          <div class="form-body">
                  
                  
                          <div class="row justify-content-center">
                  
                          
                            
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_from"> Start Date</label>
                            <input formControlName="date_from" type="date" id="date_from" class="form-control border-primary"
                             >
                         
                            </div>
                  
                            <div class="form-group col-md-5 mb-2">
                            <label for="date_to"> End Date</label>
                            <input formControlName="date_to" type="date" id="date_to" class="form-control border-primary"
                            >
                            
                            </div>
                
                            <div class="form-group col-md-2 mb-2">
                          
                            <button style="margin-top: 30px;" type="submit" class="btn btn-raised btn-primary">
                              <i class="fa fa-check-square-o"></i> Update
                              </button>
                
                            </div>
                  
                           
                  
                  
                  
                          </div>
                  
                  
                          </div>
                  
                        
                          
                        </form>
                  
                        </div>
    
                  <table class="table table-responsive-md text-center">
                    <thead>
                      <tr>
                        <!-- <th>{{"Image" | translate}} </th> -->
                        <th>{{"User Name" | translate}}</th>
                        <th>{{"Trainer Name" | translate}}</th>
                        <th>{{"Price" | translate}}</th>
                        <th>{{"Date" | translate}}</th>
                        <th>{{"From - To"  | translate}}</th>
                        <th>{{"Payment" | translate}}</th>
                        <th>{{"State" | translate}}</th>
      
                        <!-- <th>{{"Action" | translate}}</th> -->
                      </tr>
                    </thead>
                    <tbody>
                    
                        
                      <tr *ngFor="let s of copy_of_canceled | paginate: { itemsPerPage: 10, currentPage: pppp }">
                      <!-- <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                            style="height: 50px; width: 50px; border-radius: 25px;" /></td> -->
                        <td>{{s.user_name}}</td>
                        <td>{{s.trainer_name}}</td>
      
                        <td>{{s.price}}</td>
                        <td>{{s.date}}</td>
                        <td>{{s.time_from}} - {{s.time_to}}</td>
                        <td>{{s.payment}}</td>
                        <td>{{s.state}}</td>
      
                        
                         <!-- <td>
                          <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                            <i class="icon-wallet font-medium-3 mr-2"></i>
                          </a>
      
                          <a (click)="deleteTask(s.id)" class="danger p-0" data-original-title="Block User" title="Block User">
                            <i class="ft-user-x font-medium-3 mr-2"></i>
                          </a>
                        </td>  -->
                      </tr>
                      
      
                    </tbody>
                  </table>
                            <pagination-controls (pageChange)="pppp = $event"></pagination-controls>
                        </div>
<!--                         <div class="form-actions " style="padding: 24px;">
                           <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1 {{'back-btn'|translate}}">
                           <i class="ft-x"></i> {{'Back'|translate}}
                           </button> -->
                   <!--      </div> -->
        
                </ng-template>
              </ngb-tab>

            </ngb-tabset> 





























          </div>
       <!--    <pagination-controls (pageChange)="p = $event"></pagination-controls> -->

        </div>
      </div>
    </div>
  
    
  </div>



</div>





