<h4 ><i class="icon-paper-clip m-1"></i> {{"Confirmed Reservations" | translate}}   </h4>
  


  
<div class='dragdrop-container' *ngIf="currentPage === 'list'">

  <br>

  

  <div class="row ">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{"Confirmed Reservations" | translate}} </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <table class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <!-- <th>{{"Image" | translate}} </th> -->
                  <th>{{"User Name" | translate}}</th>
                  <th>{{"Trainer Name" | translate}}</th>
                  <th>{{"Price" | translate}}</th>
                  <th>{{"Date" | translate}}</th>
                  <th>{{"From - To"  | translate}}</th>
                  <th>{{"Payment" | translate}}</th>
                  <th>{{"State" | translate}}</th>

                  <!-- <th>{{"Action" | translate}}</th> -->
                </tr>
              </thead>
              <tbody>
              
                  
                <tr *ngFor="let s of branch | paginate: { itemsPerPage: 10, currentPage: p }">
                <!-- <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                      style="height: 50px; width: 50px; border-radius: 25px;" /></td> -->
                  <td>{{s.user_name}}</td>
                  <td>{{s.trainer_name}}</td>

                  <td>{{s.price}}</td>
                  <td>{{s.date}}</td>
                  <td>{{s.time_from}} - {{s.time_to}}</td>
                  <td>{{s.payment}}</td>
                  <td>{{s.state}}</td>

                  
                   <!-- <td>
                    <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                      <i class="icon-wallet font-medium-3 mr-2"></i>
                    </a>

                    <a (click)="deleteTask(s.id)" class="danger p-0" data-original-title="Block User" title="Block User">
                      <i class="ft-user-x font-medium-3 mr-2"></i>
                    </a>
                  </td>  -->
                </tr>
                

              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
      </div>
    </div>
  
    
  </div>



</div>





