<div>
  <h4><i class="ft-users"></i> {{"Account Mangement" | translate}} </h4>

  <br>

  <button (click)="showPage('add')" type="submit" class="btn btn-raised btn-primary  rightx">
     <i class="icon-user-follow"></i>  {{"Create New account" | translate}}

  </button>

  <br>


  <div class='dragdrop-container' *ngIf="currentPage === 'list'">

    <div class="row text-left">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{"Mangers Accounts" | translate}} </h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <table class="table table-responsive-md text-center">
                <thead>
                  <tr>
                    <th>{{"Image" | translate}} </th>
                    <th>{{"Name" | translate}}</th>
                    <th>{{"phone" | translate}}</th>
                    <th>{{"Email" | translate}}</th>
                    <th>{{"Action" | translate}}</th>
                  </tr>
                </thead>
                <tbody>


                  <tr *ngFor="let s of usersarr">
                    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}"
                        alt="Generic placeholder image" style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                    <td>{{s.first_name}} {{s.last_name}}</td>
                    <td>{{s.phone}}</td>
                    <td>{{s.email}}</td>


                    <td>
                      <a class="success p-0" data-original-title="permissions" title="permissions">
                        <i class="icon-key font-medium-3 mr-2"></i>
                      </a>
                      <a (click)="banTask(s.id)" class="success p-0" data-original-title="ban" title="ban">
                        <i class="icon-ban font-medium-3 mr-2"></i>
                      </a>

                      <a (click)=" updatetask('edit', s.id)" class="success p-0" data-original-title="Edit"
                        title="Edit">
                        <i class="ft-edit-2 font-medium-3 mr-2"></i>
                      </a>

                      <a (click)="deleteTask(s.id)" class="danger p-0" data-original-title="Delete User"
                        title="Delete User">
                        <i class="ft-x font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>


                </tbody>
              </table>
            </div>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class='dragdrop-container' *ngIf="currentPage === 'add'">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right">{{"New account" | translate}}</h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">





              <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                <div class="form-body">


                  <div class="row">

                    <div class="col-lg-12 col-md-12">
                      <div class="text-center" style="text-align: center; width: 100% ;">
                        <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                      </div>
                      <br>

                      <fieldset class="form-group">

                        <div class="custom-file  mx-auto d-block">
                          <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                            class="custom-file-input" id="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose
                            Image</label>
                        </div>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                          is required.
                        </div>
                      </fieldset>
                    </div>



                    <div class="form-group col-md-6 mb-2">
                      <label for="first_name">first name </label>
                      <input formControlName="first_name" type="text" id="first_name"
                        class="form-control border-primary" placeholder="last name">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.first_name.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-6 mb-2">
                      <label for="last_name">last name </label>
                      <input formControlName="last_name" type="text" id="last_name" class="form-control border-primary"
                        placeholder="last name">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.last_name.errors?.required">This field
                        is required.
                      </div>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="email">{{"email" | translate}} </label>
                      <input formControlName="email" type="email" id="email" placeholder="email"
                        class="form-control border-primary">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is
                        required.
                      </div>
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <label for="password">{{"password" | translate}} </label>
                      <input formControlName="password" type="password" id="password" placeholder="password"
                        class="form-control border-primary">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.password.errors?.required">This field
                        is required.
                      </div>
                    </div>



                    <div class="form-group col-md-12 mb-2">
                      <label for="phone">Phone </label>
                      <input formControlName="phone" type="number" id="phone" class="form-control border-primary"
                        placeholder="phone ">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                        required.
                      </div>
                    </div>

                    <!-- <div class="form-group col-md-6 mb-2">
                      <label for="Longitude">Longitude </label>
                      <input formControlName="Longitude" type="number" id="Longitude"
                        class="form-control border-primary" placeholder="Longitude">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.Longitude.errors?.required">This field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-6 mb-2">
                      <label for="Latitude">Latitude </label>
                      <input formControlName="Latitude" type="number" id="Latitude" class="form-control border-primary"
                        placeholder="Latitude">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.Latitude.errors?.required">This field
                        is required.
                      </div>
                    </div> -->



                  </div>


                </div>

                <div class="form-actions right">

                  <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>



                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Create
                  </button>




                </div>
              </form>

            </div>
          </div>
        </div>
      </div>





    </div>

  </div>


  <div class='dragdrop-container' *ngIf="currentPage === 'edit'">

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right">{{"Update account" | translate}}</h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">





              <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                <div class="form-body">


                  <div class="row">

                    <div class="col-lg-12 col-md-12">
                      <div class="text-center" style="text-align: center; width: 100% ;">
                        <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                      </div>
                      <br>

                      <fieldset class="form-group">

                        <div class="custom-file  mx-auto d-block">
                          <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                            class="custom-file-input" id="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose
                            Image</label>
                        </div>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                          is required.
                        </div>
                      </fieldset>
                    </div>



                    <div class="form-group col-md-6 mb-2">
                      <label for="first_name">first name </label>
                      <input formControlName="first_name" type="text" id="first_name"
                        class="form-control border-primary" placeholder="last name">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.first_name.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-6 mb-2">
                      <label for="last_name">last name </label>
                      <input formControlName="last_name" type="text" id="last_name" class="form-control border-primary"
                        placeholder="last name">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.last_name.errors?.required">This field
                        is required.
                      </div>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="email">{{"email" | translate}} </label>
                      <input formControlName="email" type="email" id="email" placeholder="email"
                        class="form-control border-primary">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is
                        required.
                      </div>
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <label for="password">{{"password" | translate}} </label>
                      <input formControlName="password" type="password" id="password" placeholder="password"
                        class="form-control border-primary">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.password.errors?.required">This field
                        is required.
                      </div>
                    </div>



                    <div class="form-group col-md-12 mb-2">
                      <label for="phone">Phone </label>
                      <input formControlName="phone" type="number" id="phone" class="form-control border-primary"
                        placeholder="phone ">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                        required.
                      </div>
                    </div>

                    <!-- <div class="form-group col-md-6 mb-2">
                      <label for="Longitude">Longitude </label>
                      <input formControlName="Longitude" type="number" id="Longitude"
                        class="form-control border-primary" placeholder="Longitude">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.Longitude.errors?.required">This field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-6 mb-2">
                      <label for="Latitude">Latitude </label>
                      <input formControlName="Latitude" type="number" id="Latitude" class="form-control border-primary"
                        placeholder="Latitude">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.Latitude.errors?.required">This field
                        is required.
                      </div>
                    </div> -->



                  </div>


                </div>

                <div class="form-actions right">

                  <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>



                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Update
                  </button>




                </div>
              </form>

            </div>
          </div>
        </div>
      </div>





    </div>

  </div>



</div>