<div>
    <h4><i class="ft-users"></i> {{"previous Dealings" | translate}} </h4>
  
           
  <button  (click)="backfun()" type="submit" class="btn btn-raised btn-warning mr-1 leftx">
    {{"Back" | translate}}
  </button>

  
    <br>
    <br>
    <br>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'list'">
  
      <div class="row text-left">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"previous Dealings" | translate}} </h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"sender" | translate}} </th>
                      <th>{{"receiver" | translate}}</th>
                      <th>{{"value" | translate}}</th>
                      <th>{{"Dealing name" | translate}}</th>
                      <th>{{"created at" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
  
  
                    <tr *ngFor="let s of usersarr  | paginate: { itemsPerPage: 6, currentPage: p }">
                
                      
                      <td>{{s.sender}} </td>
                      <td>{{s.receiver_name}}</td>
                      <td>{{s.value}}</td>
                      <td>{{s.dealing_name}}</td>
                      <td>{{s.created_at}}</td>

  
                   
                      
                    </tr>
  
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  </div>