

























<div>
    <h4  *ngIf="currentPage === 'list' && all == true "  ><i class="ft-users"></i> {{"Admins" | translate}} </h4>

    
    <br>
  
    <button (click)="showPage('add')"   *ngIf="currentPage === 'list' && add == true "  type="submit" class="btn btn-raised btn-primary  rightx">
       <i class="icon-user-follow"></i>  {{"Create New Admin" | translate}}
  
    </button>
  
    <br>
    <br>
    <br>  

    
<!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->
  
    <div class='dragdrop-container'  *ngIf="currentPage === 'list' && all == true " >
  
      <div class="row text-left">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Admins" | translate}} </h4>
            </div>
            <div class="card-content">  
              <div class="card-body">
                <div class="col-md-6 justify-content-center text-center m-auto mb-4">
                  <form class="navbar-form navbar-right mt-1 w-100 mb-4" role="search">
                    <div class="position-relative has-icon-right">
                        <input   (keyup)="search2($event.target.value)"   type="text" class="form-control round" placeholder="Search">
                        <div class="form-control-position">
                            <i class="ft-search"></i>
                        </div>
                    </div>
                </form>
                </div>
                
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <!-- <th>{{"Image" | translate}} </th> -->
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"state" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
  
  
                    <tr *ngFor="let s of usersarr | paginate: { itemsPerPage: 10, currentPage: p }">
                      <!-- <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}"
                          alt="Generic placeholder image" style="height: 50px; width: 50px; border-radius: 25px;" /></td> -->
                      <td>{{s.first_name}}  {{s.last_name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
                      <td>{{s.state}}</td>

  
                      <td>
                        <a (click)="shpwcategory('cat' , s.id)"  *ngIf=" update == true "  class="success p-0" data-original-title="عرض الصلاحيات" title="عرض الصلاحيات" >
                          <i class="ft-map-pin font-medium-3 mr-2"></i>
                      </a>
                        
                        <a (click)=" updatetask('edit', s.id)"  *ngIf=" update == true "  class="success p-0" data-original-title="Edit"
                          title="Edit">
                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                        </a>
  
                        <a (click)="deleteTask(s.id)"  *ngIf=" delete == true "  class="danger p-0" data-original-title="Delete User"
                          title="Delete User">
                          <i class="ft-x font-medium-3 mr-2"></i>
                        </a>
                      </td>
                    </tr>
  
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>



    
 


    <div class='dragdrop-container' *ngIf="currentPage === 'cat'">

   


      <h4><i class="icon-pointer"></i> {{"All_Access" | translate}} </h4>
    
      <br>
    
      <button (click)="showPage2('add2')" type="submit" class="btn btn-raised btn-primary  rightx">
         <i class="ft-clipboard"></i>  {{"add_access" | translate}}
  
        
    
      </button>
      <button (click)="showPage('list')" class="btn btn-warning mr-1 leftx btn-raised">
        {{"back" | translate}}
       </button>
  
      <br><br><br>
    
    <div class="row text-left justify-content-center" matchHeight="card">
  
      <div class="col-xl-4 col-lg-4 col-10" *ngFor="let s of area | paginate: { itemsPerPage: 6, currentPage: p }">
        <div class="card">
          <div class="card-header" style="float: right;">
  
  
            
  
              <a (click)=" deleteCarType(s.id)" class="danger p-0" style="float: right;" data-original-title="مسح الصلاحية" title="مسح الصلاحية">
                  <i class="ft-x font-medium-3 mr-2"></i>
                </a> 
             <!--    <a (click)="updatetask('edit',s.id)" class="success p-0" style="float: right;" data-original-title="تعديل الصلاحية"
                title="تعديل الصلاحية">
                <i class="ft-edit-2 font-medium-3 mr-2"></i>
              </a> -->
            
          </div>
          <div class="card-content" style="cursor: pointer;">
  
  
  
  
                
                     <!--  <div class='dragdrop-container' >
  
                          <br>
  
                              <table class="table table-responsive-md text-center">
                                  <thead>
                                  <tr style=" background-color: aliceblue;">
                                      <th>{{"#" | translate}}</th>
                                      <th>{{"الصورة" | translate}} </th> 
                                      <th>{{"الاسم" | translate}}</th>
                                      <th>{{"البريد الالكترونى" | translate}}</th>
                                      
                                      <th>{{"رقم الهاتف" | translate}}</th>
                                      
  
                                      <th>{{"الاجراءات" | translate}}</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  
                                      
                                  <tr *ngFor="let p of pendingD | paginate: { itemsPerPage: 10, currentPage: pppp }">
                                      <td>{{p.id}}</td>
                                      <td><img class="media-object round-media" src="{{p.image}}" alt="image"
                                          style="height: 60px; width: 60px; border-radius: 25px;" /></td>  
                                      <td>{{p.first_name}} {{p.last_name}}</td>
                                      <td>{{p.email | slice:0:35}}</td>
                                    
                                      <td>{{p.phone}}</td>
                                     
                                      
                                      
                                      <td>
                                          
                                      <a (click)="accept_user(p.id)" class="success p-0" data-original-title="قبول السائق" title="قبول السائق">
                                          <i class="ft-user-check font-medium-3 mr-2"></i>
                                      </a>
  
                                      <a (click)="blockDriver(p.id)" class="danger p-0" data-original-title="حظر السائق" title="حظر السائق">
                                          <i class="ft-user-x font-medium-3 mr-2"></i>
                                      </a>
                                      
                                         <a (click)="showData('data2', p.id)"  class="success p-0" data-original-title="بيانات السائق" title="بيانات السائق" >
                                        <i class="ft-eye font-medium-3 mr-2"></i>
                                    </a>
                                      </td>
                                   
                                      
                                  </tr>
                                  
                  
                                  </tbody>
                              </table>
                              <pagination-controls (pageChange)="pppp = $event"></pagination-controls>
                          </div> -->
          
  
                          <div class=" py-3" style="  padding-bottom:0px !important;">
                              <div class="media align-self-center">
                                <div class="media-body text-center">
                                <!--   <img style="height: 230px; border-radius: 5px; width: max-content;" class="img-fluid" src="{{s.image}}"
                                  alt="Card image cap"> -->
                  
                                  <br>
                                 
                                 
                                  <h3 class="mb-1" style="font-family: 'Poppins', 'Janna', sans-serif "><span style="text-decoration: solid; font-size: x-large; color: darkgray;">{{"access"|translate}} :</span>  {{s.name}} </h3>
                                  
                                  
                                  
                                  <!-- 
                                  <h3 class="mb-1" style="font-family: 'Poppins', 'Janna', sans-serif "><span style="text-decoration: solid; font-size: x-large; color: darkgray;">{{"تاريخ الانشاء"|translate}} :</span>  {{s.created_at | date:'M/d/yyyy' }}</h3>
                                  
                                   -->
                                  
                                  <br><br>
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                  <!-- 
                               
                               
                               
                                      <h3 class="mb-1" style="font-family: 'Poppins', 'Janna', sans-serif "><span style="text-decoration: solid; font-size: x-large; color: darkgray;">{{"In English"|translate}} :</span> {{s.E_name}}</h3>
                                   -->
                                  
                               
                                
  <!-- 
                               <a (click)="updatetask('edit',s.id)" class="success p-0" style="float: right;" data-original-title="تعديل البيانات"
                                      title="تعديل البيانات">
                                      <i class="ft-edit-2 font-medium-3 mr-2"></i>
                                  </a> -->
                                </div>
                  
                               
                                <!-- <div class="media-right align-self-center">
                                            <i class="icon-flag danger font-large-2 float-right"></i>
                                          </div> -->
                              </div>
                            </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
          </div>
         
          
        </div>
      </div>
  
  
    </div>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
  
  
  
  </div>
  
  
  
  





  <div class='dragdrop-container' *ngIf="currentPage === 'add2'">

    <br><br>
    <div class="row">
  
      
      <div class="col-md-6 mx-auto">
        <div class="card">
  
         
  
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right">{{"أضافة صلاحية" | translate}}</h4>
            <hr>
          </div>
         
  
          <div class="card-content">
            <div class="px-3">
  
  
  
  
  
              <form class="form" [formGroup]="Userform2" (submit)="onSubmit2(Userform2.value)">
                <div class="form-body">
  
  
                  <div class="row">
  
                  <!--   <div class="col-lg-12 col-md-12">
                      <div class="text-center" style="text-align: center; width: 100% ;">
                        <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                      </div>
                      <br>
  
                      <fieldset class="form-group">
  
                        <div class="custom-file  mx-auto d-block">
                          <input type="file" accept="image/*" #fileUploader formControlName="image"
                            (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                          <label class="custom-file-label text-right" for="inputGroupFile01">Choose image</label>
                        </div>
  
                        <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                          is required.
                        </div>
                      </fieldset>
                    </div> 
   -->
   
                 
                  <div class="form-group col-md-12 mb-2">
                    <label for="role_id">الصلاحية</label>
                  
                    <fieldset  class="form-group position-relative">
                        <select formControlName="role_id" class="form-control" id="role_id" style=" height: 153px;" multiple="multiple" >
                            <option style="display: none;" value="">حدد الصلاحية</option>
                            <option  style="margin-bottom: 15px;" *ngFor='let role of roles' value={{role.id}}>{{role.name}}</option>
                            
                        </select>
                    </fieldset>
                    
                    <div class="text-danger" *ngIf="isSubmitted && formControls.role_id.errors?.required">This field is
                      required.
                    </div>
                  </div>
  
  
  <!-- 
                    <div class="form-group col-md-12 mb-2">
                      <label for="E_name"> اسم القسم الانجليزية</label>
                      <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                        placeholder="البلاد باللغة الانجليزية ">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                        required.
                      </div>
                    </div>
   -->
  
                    
                
                    
                    
                  </div>
  
  
                </div>
  
                <div class="form-actions right">
  
                  <button (click)="showPage('cat')" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> إلغاء
                  </button>
  
  
  
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> اضافة
                  </button>
  
  
  
  
                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>
  
  
  
  
  
    </div>
  
  </div>
  





  
    <div class='dragdrop-container' *ngIf="currentPage === 'add'">
  
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"New Admin" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
  
  
  
                <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
  
                      <!-- <div class="col-lg-12 col-md-12">
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                              class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose
                              Image</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div> -->
  
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="first_name">First Name </label>
                        <input formControlName="first_name" type="text" id="first_name" class="form-control border-primary"
                          placeholder="First Name">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.first_name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="last_name">Last Name</label>
                        <input formControlName="last_name" type="text" id="last_name" 
                        class="form-control border-primary"
                          placeholder="Last Name">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="email">{{"email" | translate}} </label>
                        <input formControlName="email" type="email" id="email" placeholder="email"
                          class="form-control border-primary">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="password">{{"password" | translate}} </label>
                        <input formControlName="passwords" type="password" id="password" placeholder="password"
                          class="form-control border-primary">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.passwords.errors?.required">This field
                          is required.
                        </div>
                      </div>
  
  
                       
                      <div class="form-group col-md-12 mb-2">
                        <label for="phone">Phone </label>
                        <input formControlName="phone" type="number" id="phone" class="form-control border-primary"
                          placeholder="phone ">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                          required.
                        </div>
                      </div>
                     
                   
<!--                      <div class="form-group col-md-12 mb-2">
                        <label for="userinput5">{{"State" | translate}} </label>
  
                        <select formControlName="state_id" class="custom-select border-primary"  multiple="multiple" style="    height: 150px;">
  
                          <option *ngFor="let c of show_Adminroles" value="{{c.id}}">{{c.name}}</option>
                        </select>
  
                      </div> -->


                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'edit'">
  
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"Update Admin" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
                <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
  
                        <!-- <div class="col-lg-12 col-md-12">
                          <div class="text-center" style="text-align: center; width: 100% ;">
                            <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                          </div>
                          <br>
    
                          <fieldset class="form-group">
    
                            <div class="custom-file  mx-auto d-block">
                              <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                                class="custom-file-input" id="inputGroupFile01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose
                                Image</label>
                            </div>
    
                            <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                              is required.
                            </div>
                          </fieldset>
                        </div> -->
    
    
    
                        <div class="form-group col-md-6 mb-2">
                          <label for="first_name">First Name </label>
                          <input formControlName="first_name" type="text" id="first_name" class="form-control border-primary"
                            placeholder="First Name">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.first_name.errors?.required">This field is
                            required.
                          </div>
                        </div>
    
    
                        <div class="form-group col-md-6 mb-2">
                          <label for="last_name">Last Name</label>
                          <input formControlName="last_name" type="text" id="last_name" 
                          class="form-control border-primary"
                            placeholder="Last Name">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                            required.
                          </div>
                        </div>
    
    
    
                        <div class="form-group col-md-12 mb-2">
                          <label for="email">{{"email" | translate}} </label>
                          <input formControlName="email" type="email" id="email" placeholder="email"
                            class="form-control border-primary">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is
                            required.
                          </div>
                        </div>
    
                        <div class="form-group col-md-12 mb-2">
                          <label for="password">{{"password" | translate}} </label>
                          <input formControlName="passwords" type="password" id="password" placeholder="password"
                            class="form-control border-primary">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.passwords.errors?.required">This field
                            is required.
                          </div>
                        </div>
    
    
                        
                        <div class="form-group col-md-12 mb-2">
                          <label for="phone">Phone </label>
                          <input formControlName="phone" type="number" id="phone" class="form-control border-primary"
                            placeholder="phone ">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                            required.
                          </div>
                        </div>
                       


<!--                        <div class="form-group col-md-12 mb-2">
                        <label for="userinput5">{{"State" | translate}} </label>
  
                        <select formControlName="state_id" class="custom-select border-primary"  multiple="multiple" style="    height: 150px;">
  
                          <option *ngFor="let c of show_Adminroles" value="{{c.id}}">{{c.name}}</option>
                        </select>
  
                      </div> -->
                     
                      </div>
    
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>

        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
  
  </div>