<div>
    <h4  *ngIf="currentPage === 'list' && all == true " ><i class="icon-puzzle m-1"></i> Home </h4>
  
    <br>
  
   <!--  <button (click)="showPage('step')" *ngIf="currentPage === 'list'  "   type="submit" class="btn btn-raised btn-primary  rightx">
      <i class="icon-user-follow"></i>  {{"Show teps" | translate}}
 
   </button> -->
<!--     <button (click)="showPage('add')" type="submit" class="btn btn-raised btn-primary  rightx">
      Add new Specialists
    </button> -->
    <br>
    <br>
    <br>
  

    
    <!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->

  
    <div class='dragdrop-container'  *ngIf="currentPage === 'list' && all == true " >
  
  
      <section id="overlap-image-examples">
  
        <div class="row  justify-content-center" matchHeight="card">
  
  
          <div class="col-lg-8 col-md-6" >
            <div class="card">
              <div class="card-header" style="float: right; padding: 8px;">
  
<!--                 <a (click)="deleteTask(s.id)" class="danger p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-x font-medium-3 mr-2"></i>
                </a> -->
                <br>
                <a (click)="updatetask('add')"  *ngIf="update == true "  class="success p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
              </div>
              <div class="card-content">
<!--                 
                <img style="height: 230px; border-radius: 5px; width: max-content;" class="img-fluid" src="{{imageUrl}}/how_work//{{image}}"
                  alt="Card image cap"> -->
                <div class="card-body">
                    <div class="mb-3">


                    </div>
                 <!--    <hr> -->
                    <div class="row justify-content-center">
      
                      <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
      
                          <li class="mb-2">
                            <span class="text-bold-500 primary">
                              <a style="font-weight: bolder; color: #000;"><i class="icon-user mr-1 font-small-3"></i> Title :
                              </a>  <span style="color: #000;"> {{title}} </span>   </span>
                            <span class="d-block overflow-hidden"></span>
                          </li>
      
      
      
      
                        </ul>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
                          <li class="mb-2">
                            <span class="text-bold-500 primary">
                              <a style="font-weight: bolder; color: #000;"><i class="ft-mail mr-1 font-small-3"></i> E-Title :
                              </a> <span style="color: #000;"> {{E_title}}   </span>   </span>
                            <span class="d-block overflow-hidden"> </span>
                          </li>
      
      
      
      
                        </ul>
                      </div>
      
      
                      <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
      
                          <li class="mb-2">
                            <span class="text-bold-500 primary">
                              <a style="font-weight: bolder; color: #000;"><i class="icon-user mr-1 font-small-3"></i> Description :
                              </a><span style="color: #000;"> {{description}}   </span>   </span>
                            <span class="d-block overflow-hidden"></span>
                          </li>
      
      
      
      
                        </ul>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
                          <li class="mb-2">
                            <span class="text-bold-500 primary" >
                              <a style="font-weight: bolder; color: #000;"><i class="ft-mail mr-1 font-small-3"></i> E-Description:
                              </a>   <span style="color: #000;"> {{E_description}} </span>    </span>
                            <span class="d-block overflow-hidden"> </span>
                          </li>
                          <!-- <li class="mb-2">
                                            <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> created_at:</a></span>
                                            <a class="d-block overflow-hidden">  </a>
                                        </li> -->
      
      
                        </ul>

                        <br>
                        <br>

                      </div>
      

                    </div>
  
                </div>
              </div>
            
              
            </div>
          </div>
  
  
        </div>
       <!--  <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  
      </section>
  
  
  
  
    </div>





    <div class='dragdrop-container'  *ngIf="currentPage === 'list' " >
  
  
      <section id="overlap-image-examples">
  
        <div class="row  justify-content-center" matchHeight="card">
  
  
          <div class="col-lg-8 col-md-8" *ngFor="let s of step" >
            <div class="card">
              <div class="card-header" style="float: right; padding: 8px;">
  
<!--                 <a (click)="deleteTask(s.id)" class="danger p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-x font-medium-3 mr-2"></i>
                </a> -->
                <br>
                <a (click)="updatetask2('iiiii' , s.id)"  *ngIf="update == true "  class="success p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
              </div>
              <div class="card-content">
<!--                 
                <img style="height: 230px; border-radius: 5px; width: max-content;" class="img-fluid" src="{{imageUrl}}/how_work//{{image}}"
                  alt="Card image cap"> -->
                <div class="card-body">
                    <div class="mb-3">
                      <img class="mx-auto" style="height: 230px; border-radius: 5px;" width="100%" height="300px" *ngIf="s.image" class="img-fluid" src="{{imageUrl}}/how_work/{{s.image}}"
                      alt="Card image cap">

                 <!--      <div  *ngIf="s.video" class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" [src]="ved | safe " type="video/mp4" class="inimage"  (click)="fileUploader.click()" allowfullscreen></iframe>
                      </div>
 -->
          <!--             <vg-player>
                        <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                            <source src="http://rafikapi.codecaique.com/uploads/how_work/5911271597826878_Major Lazer & DJ snake Lean on Lyrics - YouTube.MKV" type="video/mp4">
                        </video>
                    </vg-player> -->


                    <video width="100%" height="300px" *ngIf="s.video" controls>
                      <source src="http://rafikapi.codecaique.com/uploads/how_work/{{s.video}}" type="video/mp4">
                      <source src="http://rafikapi.codecaique.com/uploads/how_work/{{s.video}}" type="video/MKV">
                 
                    </video>

                    </div>
                 <!--    <hr> -->
                    <div class="row justify-content-center">

                  

<!--                       <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
      
                          <li class="mb-2">
                            <span class="text-bold-500 primary">
                              <a style="font-weight: bolder; color: #000;"><i class="icon-user mr-1 font-small-3"></i> Title :
                              </a> <span style="color: #000;">  <span style="color: #000;"> {{s.title}}  </span>   </span>   </span>
                            <span class="d-block overflow-hidden"></span>
                          </li>
      
      
      
      
                        </ul>
                      </div> -->
      
                      <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
      
                          <li class="mb-2">
                            <span class="text-bold-500 primary">
                              <a style="font-weight: bolder; color: #000;"><i class="icon-user mr-1 font-small-3"></i> Title :
                              </a> <span style="color: #000;">  <span style="color: #000;"> {{s.title}}  </span>   </span>   </span>
                            <span class="d-block overflow-hidden"></span>
                          </li>
      
      
      
      
                        </ul>
                      </div>
                      <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
                          <li class="mb-2">
                            <span class="text-bold-500 primary">
                              <a style="font-weight: bolder; color: #000;"><i class="ft-mail mr-1 font-small-3"></i> Description :
                              </a>   <span style="color: #000;"> <span style="color: #000;"> {{s.description}}   </span>    </span>    </span>
                            <span class="d-block overflow-hidden"> </span>
                          </li>
      
      
      
      
                        </ul>
                      </div>
      

               <!--        <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
                          <li class="mb-2">
                            <span class="text-bold-500 primary" >
                              <a style="font-weight: bolder; color: #000;"><i class="ft-mail mr-1 font-small-3"></i> Video:
                              </a>   <a href={{s.video}} target="_blank">   {{s.video}}   </a>    </span>
                            <span class="d-block overflow-hidden"> </span>
                          </li>
                   
      
      
                        </ul>

                       

                      </div>
 <br>
                        <br>
 -->
                      <div class="col-12 col-md-6 col-lg-6">
                        <ul class="no-list-style">
                          <li class="mb-2">
                            <span class="text-bold-500 primary" >
                              <a style="font-weight: bolder; color: #000;"><i class="ft-mail mr-1 font-small-3"></i> Link:
                              </a> <a href={{s.link}}  target="_blank"> {{s.link}}   </a>     </span>
                            <span class="d-block overflow-hidden"> </span>
                          </li>
                          <!-- <li class="mb-2">
                                            <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> created_at:</a></span>
                                            <a class="d-block overflow-hidden">  </a>
                                        </li> -->
      
      
                        </ul>

                        <br>
                        <br>

                      </div>
      

                    </div>
  
                </div>
              </div>
            
              
            </div>
          </div>
  
  
        </div>
       <!--  <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  
      </section>
  
  
  
  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'iiiii'">
  
      <div class="row">
  
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right"> Update steps  </h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
                <form class="form" [formGroup]="form" (submit)="onSubmit2(form.value)">
                  <div class="form-body">
  
  
                    <div class="row">




                      <div id="image" class="col-lg-12 col-md-12">
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*" #fileUploader formControlName="image"
                              (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.image.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div> 
  
                    <div id="vedio" class="col-lg-12 col-md-12">
                     <!--    <div class="text-center" style="text-align: center; width: 100% ;">
                           <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">  -->

                        <!--   <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" [src]="imgSrc" class="inimage" (click)="fileUploader.click()" allowfullscreen></iframe>
                          </div> -->


                       <!--  </div>
                        <br> -->
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="file/*" #fileUploader formControlName="video"
                              (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose Vedio</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.video.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div> 



<!--                       <div id="vedio" class="form-group col-md-12 mb-2">
                        <label for="video">Vedio Link </label>
                        <input formControlName="video" type="text" id="video" class="form-control border-primary"
                          placeholder="link">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.video.errors?.required">This field is
                          required.
                        </div>
                      </div> -->
                      
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="name">title </label>
                        <input formControlName="title" type="text" id="title" class="form-control border-primary"
                          placeholder="title">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
      <!--                 <div class="form-group col-md-12 mb-2">
                        <label for="description">E-title</label>
                        <input formControlName="description" type="text" id="description" class="form-control border-primary"
                          placeholder="E-title">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is
                          required.
                        </div>
                      </div>
 -->

                      <div class="form-group col-md-12 mb-2">
                        <label for="description In Arabic">Description In Arabic </label>
                        <textarea formControlName="description" type="text" id="description" rows="5"
                        class="form-control border-primary" placeholder="description In Arabic "></textarea>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is
                          required.
                        </div>
                      </div>


                      <div class="form-group col-md-12 mb-2">
                        <label for="E_title">English Title </label>
                        <input formControlName="E_title" type="text" id="E_title" class="form-control border-primary"
                          placeholder="title">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_title.errors?.required">This field is
                          required.
                        </div>
                      </div>


                      <div class="form-group col-md-12 mb-2">
                        <label for="E_description">description In English</label>
                        <textarea formControlName="E_description" type="text" id="E_description" rows="5"
                        class="form-control border-primary" placeholder="description In English "></textarea>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_description.errors?.required">This field is
                          required.
                        </div>
                      </div>




  
  
                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
  
    </div>





    <div class='dragdrop-container' *ngIf="currentPage === 'add'">
  
      <div class="row">
  
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right"> new Specialists </h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
                <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
  
<!--                       <div class="col-lg-12 col-md-12">
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*" #fileUploader formControlName="image"
                              (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div> -->
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="name">title </label>
                        <input formControlName="title" type="text" id="title" class="form-control border-primary"
                          placeholder="title">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_title">E-title</label>
                        <input formControlName="E_title" type="text" id="E_title" class="form-control border-primary"
                          placeholder="E-title">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_title.errors?.required">This field is
                          required.
                        </div>
                      </div>


                      <div class="form-group col-md-12 mb-2">
                        <label for="description In Arabic">description In Arabic </label>
                        <textarea formControlName="description" type="text" id="description" rows="5"
                        class="form-control border-primary" placeholder="description In Arabic "></textarea>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is
                          required.
                        </div>
                      </div>


                      <div class="form-group col-md-12 mb-2">
                        <label for="E_description">  </label>
                        <textarea formControlName="E_description" type="text" id="E_description" rows="5"
                        class="form-control border-primary" placeholder="description In English "></textarea>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_description.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'edit'">
  
      <div class="row">
  
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right"> Update offer </h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
                <form class="form" [formGroup]="Userform" (submit)="onEdit(Userform.value)">
                  <div class="form-body">
  
                    <div class="row">
  
                        <div class="col-lg-12 col-md-12">
                          <div class="text-center" style="text-align: center; width: 100% ;">
                            <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                          </div>
                          <br>
    
                          <fieldset class="form-group">
    
                            <div class="custom-file  mx-auto d-block">
                              <input type="file" accept="image/*" #fileUploader formControlName="image"
                                (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                            </div>
    
                            <div class="text-danger" *ngIf="isSubmitted && formControls.image.errors?.required">This field
                              is required.
                            </div>
                          </fieldset>
                        </div>
    
    
                        <div class="form-group col-md-12 mb-2">
                          <label for="name">text </label>
                          <input formControlName="text" type="text" id="text" class="form-control border-primary"
                            placeholder="text">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.text.errors?.required">This field is
                            required.
                          </div>
                        </div>
    
    
                        <div class="form-group col-md-12 mb-2">
                          <label for="link">Link </label>
                          <input formControlName="link" type="text" id="link" class="form-control border-primary"
                            placeholder="link">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.link.errors?.required">This field is
                            required.
                          </div>
                        </div>
    
  
                        <div class="form-group col-md-12 mb-2">
                          <label for="type" class="{{'type'|translate}}">{{'type'|translate}} </label>
                         
                          <fieldset  class="form-group position-relative" style="    width: 100%;">
                              <select (change)="selectChangeHandler1($event)" formControlName="type"  class="form-control" id="type"  >
                                  <option>{{'select'|translate}}</option>
                                  <option  style="margin-bottom: 15px;"  value="text"> {{'text'|translate}}</option>
  
                                  <option  style="margin-bottom: 15px;"  value="text_image"> {{'text_image'|translate}}  </option>
  
                                  <option  style="margin-bottom: 15px;" value="image">{{'image'|translate}} </option>
                              </select>
                          </fieldset>
                          <div class="text-danger" *ngIf="isSubmitted && formControls.type.errors?.required">{{'Thisfieldisrequired'|translate}}
                          </div>
                       </div>
    
                      </div>
    
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
  
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
  
  
    </div>
  
  </div>