<div class='dragdrop-container' *ngIf="currentPage === 'list' && all == true">


    <!--   <button (click)="showPage('blocklist')" type="submit" class="btn btn-raised btn-primary  rightx">
           <i class="ft-user-x font-medium-3 mr-2"></i> {{"show block List" | translate}}
      
        </button>  -->
    <br>
    <br>
    <br>
  
    <div class="row ">
  
  
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">{{"Notifications" | translate}} </h4>
          </div>
          <div class="card-content">
            <div class="card-body">
  
  
  
  
  
  
              <ngb-tabset [justify]="currentJustify">
  
  
                <ngb-tab *ngIf="Student">
                  <ng-template ngbTabTitle> <b> {{"Student" | translate}} </b> <i *ngIf="notcative?.id"
                      style="color: red;" class="ft-info"></i></ng-template>
                  <ng-template ngbTabContent>
  
  
                    <div class='dragdrop-container'>
  
                      <div class="row">
  
  
  
  
                        <div class="col-md-8 mx-auto">
  
  
  
                          <form class="form" [formGroup]="Userform1">
                            <div class="form-body">
  
  
                              <div class="row">
  
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="comment"> {{'Notification title'|translate}} </label>
                                  <input formControlName="title" type="text" id="comment"
                                    class="form-control border-primary" placeholder="{{'Notification title'|translate}}">
  
                                </div>
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="arComment"> {{'Notification title ar'|translate}} </label>
                                  <input formControlName="title_ar" type="text" id="arComment"
                                    class="form-control border-primary"
                                    placeholder="{{'Notification title ar'|translate}}">
  
                                </div>
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="A_text">{{'Notification body'|translate}}</label>
                                  <textarea type="text" formControlName="body"
                                    placeholder="{{'Notification body'|translate}}" id="A_text" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
                                <div class="form-group col-md-6 mb-2">
                                  <label for="text_arabic">{{'Notification body ar'|translate}}</label>
                                  <textarea type="text" formControlName="body_ar"
                                    placeholder="{{'Notification body ar'|translate}}" id="text_arabic" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
                              </div>
                            </div>
  
                            <div class="form-actions center">
  
  
                              <button type="submit" (click)="send_studentNotification(Userform1.value)"
                                class="btn btn-raised btn-primary">
                                <i class="fa ft-user"></i> {{'Send To All Student'|translate}}
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
  
  
                  </ng-template>
                </ngb-tab>
  
  
                <ngb-tab *ngIf="Trainer">
                  <ng-template ngbTabTitle> <b> {{"Trainer" | translate}}</b> </ng-template>
                  <ng-template ngbTabContent>
  
                    <div class='dragdrop-container'>
  
                      <div class="row">
  
  
  
  
                        <div class="col-md-8 mx-auto">
  
  
  
                          <form class="form" [formGroup]="Userform2">
                            <div class="form-body">
  
  
                              <div class="row">
  
  
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="comment"> {{'Notification title'|translate}} </label>
                                  <input formControlName="title" type="text" id="comment"
                                    class="form-control border-primary" placeholder="{{'Notification title'|translate}}">
  
                                </div>
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="arComment"> {{'Notification title ar'|translate}} </label>
                                  <input formControlName="title_ar" type="text" id="arComment"
                                    class="form-control border-primary"
                                    placeholder="{{'Notification title ar'|translate}}">
  
                                </div>
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="A_text">{{'Notification body'|translate}}</label>
                                  <textarea type="text" formControlName="body"
                                    placeholder="{{'Notification body'|translate}}" id="A_text" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
                                <div class="form-group col-md-6 mb-2">
                                  <label for="text_arabic">{{'Notification body ar'|translate}}</label>
                                  <textarea type="text" formControlName="body_ar"
                                    placeholder="{{'Notification body ar'|translate}}" id="text_arabic" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
                              </div>
                            </div>
  
                            <div class="form-actions center">
  
  
                              <button type="submit" (click)="send_trainerNotification(Userform2.value)"
                                class="btn btn-raised btn-primary">
                                <i class="fa ft-user"></i> {{'Send To All Trainer'|translate}}
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
  
                  </ng-template>
                </ngb-tab>
  
  
  
  
                <ngb-tab *ngIf="WlyAlamr">
                  <ng-template ngbTabTitle> <b> {{"Wly-Alamr" | translate}}</b> </ng-template>
                  <ng-template ngbTabContent>
  
                    <div class='dragdrop-container'>
  
                      <div class="row">
  
  
  
  
                        <div class="col-md-8 mx-auto">
  
  
  
                          <form class="form" [formGroup]="Userform3">
                            <div class="form-body">
  
  
                              <div class="row">
  
  
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="comment"> {{'Notification title'|translate}} </label>
                                  <input formControlName="title" type="text" id="comment"
                                    class="form-control border-primary" placeholder="{{'Notification title'|translate}}">
  
                                </div>
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="arComment"> {{'Notification title ar'|translate}} </label>
                                  <input formControlName="title_ar" type="text" id="arComment"
                                    class="form-control border-primary"
                                    placeholder="{{'Notification title ar'|translate}}">
  
                                </div>
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="A_text">{{'Notification body'|translate}}</label>
                                  <textarea type="text" formControlName="body"
                                    placeholder="{{'Notification body'|translate}}" id="A_text" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
                                <div class="form-group col-md-6 mb-2">
                                  <label for="text_arabic">{{'Notification body ar'|translate}}</label>
                                  <textarea type="text" formControlName="body_ar"
                                    placeholder="{{'Notification body ar'|translate}}" id="text_arabic" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
                              </div>
                            </div>
  
                            <div class="form-actions center">
  
  
                              <button type="submit" (click)="send_parentNotification(Userform3.value)"
                                class="btn btn-raised btn-primary">
                                <i class="fa ft-user"></i> {{'Send To All WlyAlamr'|translate}}
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
  
                  </ng-template>
                </ngb-tab>
  
  
  
  
  
                <ngb-tab *ngIf="Special">
                  <ng-template ngbTabTitle> <b> {{"Special user" | translate}}</b> </ng-template>
                  <ng-template ngbTabContent>
  
                    <div class='dragdrop-container'>
  
                      <div class="row">
  
  
  
  
                        <div class="col-md-8 mx-auto">
  
  
  
                          <form class="form" [formGroup]="Userform4">
                            <div class="form-body">
  
  
                              <div class="row">
  
  
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="comment"> {{'Notification title'|translate}} </label>
                                  <input formControlName="title" type="text" id="comment"
                                    class="form-control border-primary" placeholder="{{'Notification title'|translate}}">
  
                                </div>
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="arComment"> {{'Notification title ar'|translate}} </label>
                                  <input formControlName="title_ar" type="text" id="arComment"
                                    class="form-control border-primary"
                                    placeholder="{{'Notification title ar'|translate}}">
  
                                </div>
  
  
  
                                <div class="form-group col-md-6 mb-2">
                                  <label for="A_text">{{'Notification body'|translate}}</label>
                                  <textarea type="text" formControlName="body"
                                    placeholder="{{'Notification body'|translate}}" id="A_text" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
                                <div class="form-group col-md-6 mb-2">
                                  <label for="text_arabic">{{'Notification body ar'|translate}}</label>
                                  <textarea type="text" formControlName="body_ar"
                                    placeholder="{{'Notification body ar'|translate}}" id="text_arabic" rows="7"
                                    class="form-control border-primary"></textarea>
                                </div>
  
  
                                <div class="form-group col-md-12 mb-2 text-center">
                                  <label for="copon" style="float: right;"> {{'Select'|translate}} </label>
                                  <ng-multiselect-dropdown style="max-width: 350px;" [settings]="dropdownSettings"
                                    [ngModelOptions]="{standalone: true}" [data]="dropdownList"
                                    [(ngModel)]="selectedItems">
                                  </ng-multiselect-dropdown>
                                  <!--  <button *ngIf="selectedItems != ''" (click)='unselect()'>الغاء التحديد</button> -->
  
                                </div>
  
  
                              </div>
                            </div>
  
                            <div class="form-actions center">
  
  
                              <button type="submit" (click)="send_specialNotification(Userform4.value)"
                                class="btn btn-raised btn-primary">
                                <i class="fa ft-user"></i> {{'Send '|translate}}
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
  
                  </ng-template>
                </ngb-tab>
  
              </ngb-tabset>
  
            </div>
  
          </div>
        </div>
      </div>
    </div>
  
  
  
  </div>