<div>
    <h4 *ngIf="currentPage === 'list' && all == true " ><i class="ft-home"></i> {{"institutions" | translate}} </h4>

    
    <br>
  
    <button (click)="showPage('add')" *ngIf=" add == true "  type="submit" class="btn btn-raised btn-primary  rightx">
       <i class="icon-user-follow"></i>  {{"Create New institutions" | translate}}
  
    </button>
  
    <br>
    <br>
    <br>  


      
          <!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->
  
    <div class='dragdrop-container' *ngIf="currentPage === 'list' && all == true " >
  
      <div class="row text-left">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"institutions" | translate}} </h4>
            </div>
            <div class="card-content">  
              <div class="card-body">
                <div class="col-md-6 justify-content-center text-center m-auto mb-4">
                  <form class="navbar-form navbar-right mt-1 w-100 mb-4" role="search">
                    <div class="position-relative has-icon-right">
                        <input   (keyup)="search2($event.target.value)"   type="text" class="form-control round" placeholder="Search">
                        <div class="form-control-position">
                            <i class="ft-search"></i>
                        </div>
                    </div>
                </form>
                </div>
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
              <!--         <th>{{"Image" | translate}} </th> -->
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"class number" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
  
  
                    <tr *ngFor="let s of usersarr">
                   <!--    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}"
                          alt="Generic placeholder image" style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                -->       <td>{{s.name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
                      <td>{{s.class_number}}</td>

  
                      <td>
                      
                        
                        <a (click)=" updatetask('edit', s.id)" *ngIf=" update == true " class="success p-0" data-original-title="Edit"
                          title="Edit">
                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                        </a>
  
                        <a (click)="deleteTask(s.id)" *ngIf=" delete == true " class="danger p-0" data-original-title="Delete User"
                          title="Delete User">
                          <i class="ft-x font-medium-3 mr-2"></i>
                        </a>
                      </td>
                    </tr>
  
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'add'">
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"New institution" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
  
  
  
                <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
  
  <!--                     <div class="col-lg-12 col-md-12">
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                              class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose
                              Image</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div>
   -->
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="name">Name In Arabic </label>
                        <input formControlName="name" type="text" id="name" class="form-control border-primary"
                          placeholder="name In Arabic">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="E_name">Name In English </label>
                        <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                          placeholder="name In English">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="email">{{"email" | translate}} </label>
                        <input formControlName="email" type="email" id="email" placeholder="email"
                          class="form-control border-primary">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="passwords">{{"password" | translate}} </label>
                        <input formControlName="passwords" type="passwords" id="passwords" placeholder="password"
                          class="form-control border-primary">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.passwords.errors?.required">This field
                          is required.
                        </div>
                      </div>
  
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="phone">Phone </label>
                        <input formControlName="phone" type="number" id="phone" class="form-control border-primary"
                          placeholder="phone ">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                   
                      
                      <div class="form-group col-md-12 mb-2">
                        <label for="class_number">class number  </label>
                        <input formControlName="class_number" type="number" id="class_number" class="form-control border-primary"
                          placeholder="class number ">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.class_number.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
  
  
                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'edit'">
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"Update institution" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
                <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
  
   <!--                    <div class="col-lg-12 col-md-12">
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                              class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose
                              Image</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div>
   -->
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="name">Name In Arabic </label>
                        <input formControlName="name" type="text" id="name" class="form-control border-primary"
                          placeholder="name In Arabic">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="E_name">Name In English </label>
                        <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                          placeholder="name In English">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="email">{{"email" | translate}} </label>
                        <input formControlName="email" type="email" id="email" placeholder="email"
                          class="form-control border-primary">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="password">{{"password" | translate}} </label>
                        <input formControlName="passwords" type="password" id="password" placeholder="password"
                          class="form-control border-primary">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.passwords.errors?.required">This field
                          is required.
                        </div>
                      </div>
  
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="phone">Phone </label>
                        <input formControlName="phone" type="number" id="phone" class="form-control border-primary"
                          placeholder="phone ">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                   
                      
                      <div class="form-group col-md-12 mb-2">
                        <label for="class_number">class number  </label>
                        <input formControlName="class_number" type="number" id="class_number" class="form-control border-primary"
                          placeholder="class number ">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.class_number.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
  
  
                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
  
  </div>