<div>
  <h4><i class="icon-puzzle"></i> Tests List</h4>

  <br>

<!--   <button (click)="showPage('add')" type="submit" class="btn btn-raised btn-primary  rightx">
    Add new Test
  </button> -->
  <br>
  <br>
  <br>


    
<!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->


  <div class='dragdrop-container' *ngIf="currentPage === 'list' && all == true " >


    <section id="overlap-image-examples">

      <div class="row  justify-content-center" matchHeight="card">


        <div class="col-lg-4 col-md-6" *ngFor="let s of branch | paginate: { itemsPerPage: 6, currentPage: p }">
          <div class="card">
<!--             <div class="card-header" style="float: right; padding: 8px;">

              <a (click)="deleteTask(s.sub_id)" class="danger p-0" style="float: right;" data-original-title=""
                title="">
                <i class="ft-x font-medium-3 mr-2"></i>
              </a>
              <a (click)="updatetask('edit',s.sub_id)" class="success p-0" style="float: right;" data-original-title=""
                title="">
                <i class="ft-edit-2 font-medium-3 mr-2"></i>
              </a>
            </div> -->
            <div class="card-content">
              <img style="height: 230px; border-radius: 5px;" class="img-fluid" src="{{imageUrl}}/tests/{{s.image}}"
                alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title text-center"> {{s.name}}</h4>

              </div>
            </div>
            <div class="card-footer text-muted">

              <span class="text-center">
                <a [routerLink]="['/question',s.sub_id]" href="javascript:void(0);" class="card-link text-center">show
                  Questions <i class="fa fa-angle-right"></i></a>
              </span>
            </div>
          </div>
        </div>


      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </section>




  </div>

  <div class='dragdrop-container' *ngIf="currentPage === 'add'">

    <div class="row">

      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right"> new Test </h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">

              <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                <div class="form-body">


                  <div class="row">

                    <div class="col-lg-12 col-md-12">
                      <div class="text-center" style="text-align: center; width: 100% ;">
                        <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                      </div>
                      <br>

                      <fieldset class="form-group">

                        <div class="custom-file  mx-auto d-block">
                          <input type="file" accept="image/*" #fileUploader formControlName="image"
                            (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                        </div>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                          is required.
                        </div>
                      </fieldset>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="name">Name In Arabic </label>
                      <input formControlName="name" type="text" id="name" class="form-control border-primary"
                        placeholder="name In Arabic">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is
                        required.
                      </div>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="E_name">Name In English </label>
                      <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                        placeholder="name In English">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                        required.
                      </div>
                    </div>


                  </div>


                </div>

                <div class="form-actions right">

                  <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>



                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Create
                  </button>




                </div>
              </form>

            </div>
          </div>
        </div>
      </div>



    </div>

  </div>

  <div class='dragdrop-container' *ngIf="currentPage === 'edit'">

    <div class="row">

      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right"> Update Test </h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">

              <form class="form" [formGroup]="Userform" (submit)="onEdit(Userform.value)">
                <div class="form-body">


                  <div class="row">

                    <div class="col-lg-12 col-md-12">
                      <div class="text-center" style="text-align: center; width: 100% ;">
                        <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                      </div>
                      <br>

                      <fieldset class="form-group">

                        <div class="custom-file  mx-auto d-block">
                          <input type="file" accept="image/*" #fileUploader formControlName="image"
                            (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                        </div>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                          is required.
                        </div>
                      </fieldset>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="name">Name In Arabic </label>
                      <input formControlName="name" type="text" id="name" class="form-control border-primary"
                        placeholder="name In Arabic">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is
                        required.
                      </div>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="E_name">Name In English </label>
                      <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                        placeholder="name In English">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                        required.
                      </div>
                    </div>


                  </div>


                </div>

                <div class="form-actions right">

                  <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>



                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Update
                  </button>




                </div>
              </form>


            </div>
          </div>
        </div>
      </div>



    </div>


  </div>

</div>