<div>
  <h4 *ngIf="currentPage === 'list' && all == true " class="card-title"><i class="icon-info"></i>   {{"About Us" | translate}}  </h4>

  <br>



  <button *ngIf="currentPage === 'list' && all == true " (click)="updatetask('edit')" class="btn btn-raised btn-primary  rightx">
    Edit About Us
  </button>

  <br>
  <br>
  <br>


    <!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->

  <div class='dragdrop-container' *ngIf="currentPage === 'list' && all == true ">

    <div class="row">
      <!-- <div class="col-12">
          <div class="content-header">My information</div>
      </div> -->
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header text-center">
            <h5> About Us Information</h5>
          </div>
          <div class="card-content">
            <div class="card-body">
              <div class="mb-3">


              </div>
              <hr>
              <div class="row justify-content-center">

                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">

                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="icon-user mr-1 font-small-3"></i> Email :
                        </a>{{email}}</span>
                      <span class="d-block overflow-hidden"></span>
                    </li>




                  </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Phone :
                        </a> {{phone}} </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>




                  </ul>
                </div>


                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">

                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="icon-user mr-1 font-small-3"></i> title In Arabic :
                        </a>{{title}}</span>
                      <span class="d-block overflow-hidden"></span>
                    </li>




                  </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> title In English :
                        </a> {{E_title}} </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>
                    <!-- <li class="mb-2">
                                      <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> created_at:</a></span>
                                      <a class="d-block overflow-hidden">  </a>
                                  </li> -->


                  </ul>
                </div>


                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Address In Arabic :
                        </a> {{address}} </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>
                    <!-- <li class="mb-2">
                                    <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> created_at:</a></span>
                                    <a class="d-block overflow-hidden">  </a>
                                </li> -->


                  </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Address In English :
                        </a> {{E_address}} </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>




                  </ul>
                </div>


                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Details In Arabic :
                        </a> {{details}} </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>



                  </ul>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Details In English :
                        </a> {{E_details}} </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>




                  </ul>
                </div>

                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a  style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> FaceBook link   :
                        </a> <a href={{face_link}} target="_blank"> {{face_link}} </a>  </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>




                  </ul>
                </div>


                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Instagram  link :
                        </a>  <a href={{insta_link}} target="_blank"> {{insta_link}} </a>   </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>




                  </ul>
                </div>



                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a  style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Linked In link :
                        </a>  <a href={{linked_link}} target="_blank"> {{linked_link}} </a>   </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>




                  </ul>
                </div>


                <div class="col-12 col-md-6 col-lg-6">
                  <ul class="no-list-style">
                    <li class="mb-2">
                      <span class="text-bold-500 primary">
                        <a  style="font-weight: bolder;"><i class="ft-mail mr-1 font-small-3"></i> Twitter link  :
                        </a>  <a href={{twitter_link}} target="_blank"> {{twitter_link}} </a>   </span>
                      <span class="d-block overflow-hidden"> </span>
                    </li>




                  </ul>
                </div>

              </div>
              <hr>


            </div>
          </div>
        </div>
      </div>


    </div>



  </div>

  <div class='dragdrop-container' *ngIf="currentPage === 'edit'">

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right">{{"Update Information" | translate}}</h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">

              <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                <div class="form-body">


                  <div class="row justify-content-center">
<!-- 
                    <div class="col-lg-12 col-md-12">
                      <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                      </div>
                      <br>

                      <fieldset class="form-group">

                          <div class="custom-file  mx-auto d-block">
                              <input type="file" accept="image/*" #fileUploader
                                  formControlName="image" (change)="showPreview($event)"
                                  class="custom-file-input" id="inputGroupFile01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose
                                  Logo</label>
                          </div>

                          <div class="text-danger"
                              *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                              is required.
                          </div>
                      </fieldset>
                  </div> -->

                    <div class="form-group col-md-6 mb-2">
                      <label for="title"> title In Arabic</label>
                      <input formControlName="title" type="text" id="title" class="form-control border-primary"
                        placeholder="title In Arabic">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-6 mb-2">
                      <label for="E_title"> title In English</label>
                      <input formControlName="E_title" type="text" id="E_title" class="form-control border-primary"
                        placeholder="title In English">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.E_title.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>


                    <div class="form-group col-md-6 mb-2">
                      <label for="email">{{"email" | translate}} </label>
                      <input formControlName="email" type="email" id="email" placeholder="email"
                        class="form-control border-primary">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is
                        required.
                      </div>
                    </div>

                    <div class="form-group col-md-6 mb-2">
                      <label for="phone">{{"Phone" | translate}} </label>
                      <input formControlName="phone" type="number" id="phone" placeholder="Phone"
                        class="form-control border-primary">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                        required.
                      </div>
                    </div>



                    <div class="form-group col-md-12 mb-2">
                      <label for="address"> address In Arabic</label>
                      <input formControlName="address" type="text" id="address" class="form-control border-primary"
                        placeholder="address In Arabic">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.address.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <label for="E_address"> address In English</label>
                      <input formControlName="E_address" type="text" id="E_address" class="form-control border-primary"
                        placeholder="address In English">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.E_address.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>






                    <div class="form-group col-md-12 mb-2">
                      <label for="details"> details In Arabic </label>

                      <textarea formControlName="details" type="text" id="details" rows="10"
                        class="form-control border-primary" placeholder="details In Arabic "></textarea>

                      <div class="text-danger" *ngIf="isSubmitted && formControls.details.errors?.required">This field
                        is required.
                      </div>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="e_details"> details In English </label>

                      <textarea formControlName="e_details" type="text" id="e_details" rows="10"
                        class="form-control border-primary" placeholder="details In English "></textarea>

                      <div class="text-danger" *ngIf="isSubmitted && formControls.e_details.errors?.required">This field
                        is required.
                      </div>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="E_address">  FaceBook link </label>
                      <input formControlName="face_link" type="text" id="face_link" class="form-control border-primary"
                        placeholder="FaceBook link">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.face_link.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <label for="E_address"> Instagram link</label>
                      <input formControlName="insta_link" type="text" id="insta_link" class="form-control border-primary"
                        placeholder="Instagram link">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.insta_link.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <label for="E_address"> linkedIn link</label>
                      <input formControlName="linked_link" type="text" id="linked_link" class="form-control border-primary"
                        placeholder="linkedIn link">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.linked_link.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="E_address"> Twitter link</label>
                      <input formControlName="twitter_link" type="text" id="twitter_link" class="form-control border-primary"
                        placeholder="Twitter link">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.twitter_link.errors?.required">This
                        field
                        is required.
                      </div>
                    </div>






                  </div>


                </div>

                <div class="form-actions right">

                  <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                    <i class="ft-x"></i> Cancel
                  </button>



                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Update
                  </button>

                </div>
              </form>

            </div>
          </div>
        </div>
      </div>





    </div>



  </div>



</div>