<!--Login Page Starts-->
<section id="login" style="background-color: #03254C;">
    <div class="container-fluid">
      <div class="row full-height-vh m-0">
        <div class="col-12 d-flex align-items-center justify-content-center" >
          <div class="card"  style="border-radius: 15px;">
            <div class="card-content" >
              <div class="card-body login-img" style="border-radius: 25px; ">
                <div class="row m-0">
                  <div
                    class="col-lg-6 d-lg-block d-none py-2 px-3 text-center align-middle"
                  >
                    <img
                    style="border-radius: 25px; margin-top:60px;"
                    src="../../../assets/img/faviconx.png"
                      alt=""
                      class="img-fluid "
                      width="400"
                      height="230"
                    />
                  </div>
                  <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
  
                    <form  [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
  
  
                      <h4 class="card-title mb-2 text-center">Login</h4>
                      <p class="card-text mb-3 text-center">
                        Welcome back, please login to your Dashboard.
                      </p>
                      <input
                        formControlName="email"
                        type="email"
                        class="form-control mb-3"
                        placeholder="Username"
                      />
                      <input
                       formControlName="passwords"
                        type="password"
                        class="form-control mb-3"
                        placeholder="Password"
                      />
                      <div class="d-flex justify-content-between mt-2">
                        <div class="remember-me">
                          <div
                            class="custom-control custom-checkbox custom-control-inline mb-3"
                          >
                            <input
                              type="checkbox"
                              id="customCheckboxInline1"
                              name="customCheckboxInline1"
                              class="custom-control-input"
                            />
                            <label
                              class="custom-control-label"
                              for="customCheckboxInline1"
                            >
                              Remember Me
                            </label>
                          </div>
                        </div>
                       
                        
                      </div>
                      <div class=" text-center">
    
    
                        <button type="submit" class="btn btn-primary text-center" style="background-color: #03254C;">
                          <a
                            
                            class="text-decoration-none text-white">
                            
                            Login</a>
                          
                        </button>
    
    
                      
                        
                      </div>
                      <hr class="m-0" />
                      <!-- <div class="d-flex justify-content-between mt-3">
                        <div class="option-login">
                          <h6 class="text-decoration-none text-primary">
                            Or Login With
                          </h6>
                        </div>
                        <div class="social-login-options">
                          <a class="btn btn-social-icon mr-2 btn-facebook">
                            <span class="fa fa-facebook"></span>
                          </a>
                          <a class="btn btn-social-icon mr-2 btn-twitter">
                            <span class="fa fa-twitter"></span>
                          </a>
                        </div>
                      </div> -->
  
                      
  
  
                    </form>
                  
                  </div>
  
  
  
  
  
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Login Page Ends-->
  