<div>
    <h4><i class="icon-puzzle m-1"></i> Offer </h4>
  
    <br>
  
<!--     <button (click)="showPage('add')" type="submit" class="btn btn-raised btn-primary  rightx">
      Add new Specialists
    </button> -->
    <br>
    <br>
    <br>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'list'">
  
  
      <section id="overlap-image-examples">
  
        <div class="row  justify-content-center" matchHeight="card">
  
  
          <div class="col-lg-4 col-md-6" >
            <div class="card">
              <div class="card-header" style="float: right; padding: 8px;">
  
<!--                 <a (click)="deleteTask(s.id)" class="danger p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-x font-medium-3 mr-2"></i>
                </a> -->
                <br>
                <a (click)="updatetask('edit')" class="success p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
              </div>
              <div class="card-content">
                
                <img style="height: 230px; border-radius: 5px; width: max-content;" class="img-fluid" src="{{imageUrl}}/how_work//{{image}}"
                  alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title text-center"> {{text}}</h4>


                  <h5 class="card-title text-center"> <a href={{link}} target="_blank">{{link}}</a></h5>
  
                </div>
              </div>
            
              
            </div>
          </div>
  
  
        </div>
       <!--  <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
  
      </section>
  
  
  
  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'add'">
  
      <div class="row">
  
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right"> new Specialists </h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
                <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
  
                      <div class="col-lg-12 col-md-12">
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*" #fileUploader formControlName="image"
                              (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="name">Name In Arabic </label>
                        <input formControlName="name" type="text" id="name" class="form-control border-primary"
                          placeholder="name In Arabic">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_name">Name In English </label>
                        <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                          placeholder="name In English">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'edit'">
  
      <div class="row">
  
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right"> Update offer </h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
                <form class="form" [formGroup]="Userform" (submit)="onEdit(Userform.value)">
                  <div class="form-body">
  
                    <div class="row">
  
                        <div class="col-lg-12 col-md-12">
                          <div class="text-center" style="text-align: center; width: 100% ;">
                            <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                          </div>
                          <br>
    
                          <fieldset class="form-group">
    
                            <div class="custom-file  mx-auto d-block">
                              <input type="file" accept="image/*" #fileUploader formControlName="image"
                                (change)="showPreview($event)" class="custom-file-input" id="inputGroupFile01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose Image</label>
                            </div>
    
                            <div class="text-danger" *ngIf="isSubmitted && formControls.image.errors?.required">This field
                              is required.
                            </div>
                          </fieldset>
                        </div>
    
    
                        <div class="form-group col-md-12 mb-2">
                          <label for="name">text </label>
                          <input formControlName="text" type="text" id="text" class="form-control border-primary"
                            placeholder="text">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.text.errors?.required">This field is
                            required.
                          </div>
                        </div>
    
    
                        <div class="form-group col-md-12 mb-2">
                          <label for="link">Link </label>
                          <input formControlName="link" type="text" id="link" class="form-control border-primary"
                            placeholder="link">
                          <div class="text-danger" *ngIf="isSubmitted && formControls.link.errors?.required">This field is
                            required.
                          </div>
                        </div>
    
  
<!--                         <div class="form-group col-md-12 mb-2">
                          <label for="type" class="{{'type'|translate}}">{{'type'|translate}} </label>
                         
                          <fieldset  class="form-group position-relative" style="    width: 100%;">
                              <select (change)="selectChangeHandler1($event)" formControlName="type"  class="form-control" id="type"  >
                                  <option>{{'select'|translate}}</option>
                                  <option  style="margin-bottom: 15px;"  value="text"> {{'text'|translate}}</option>
  
                                  <option  style="margin-bottom: 15px;"  value="text_image"> {{'text_image'|translate}}  </option>
  
                                  <option  style="margin-bottom: 15px;" value="image">{{'image'|translate}} </option>
                              </select>
                          </fieldset>
                          <div class="text-danger" *ngIf="isSubmitted && formControls.type.errors?.required">{{'Thisfieldisrequired'|translate}}
                          </div>
                       </div> -->
    
                      </div>
    
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
  
              </div>
            </div>
          </div>
        </div>
  
  
  
      </div>
  
  
    </div>
  
  </div>