<h4  *ngIf="currentPage === 'list' && all == true" ><i class="ft-users"></i> {{"Users" | translate}}   </h4>
  

<!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->



  
<div class='dragdrop-container' *ngIf="currentPage === 'list' && all == true">


  <button (click)="showPage('blocklist')" type="submit" class="btn btn-raised btn-primary  rightx">
     <i class="ft-user-x font-medium-3 mr-2"></i> {{"show block List" | translate}}

  </button> 
  <br>
  <br>
  <br>

  <div class="row ">
  
    
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{"Wly Alamer" | translate}} </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="col-md-6 justify-content-center text-center m-auto mb-4">
              <form class="navbar-form navbar-right mt-1 w-100 mb-2" role="search">
                <div class="position-relative has-icon-right">
                    <input   (keyup)="search2($event.target.value)"   type="text" class="form-control round" placeholder="Search">
                    <div class="form-control-position">
                        <i class="ft-search"></i>
                    </div>
                </div>
            </form>
            </div>
            <table class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <th>{{"Image" | translate}} </th>
                  <th>{{"Name" | translate}}</th>
                  <th>{{"phone" | translate}}</th>
                  <th>{{"Email" | translate}}</th>
                  <th>{{"Action" | translate}}</th>
                </tr>
              </thead>
              <tbody>
              
                  
                <tr *ngFor="let s of show_wlyAlamer | paginate: { itemsPerPage: 10, currentPage: p }">
                <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                      style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                  <td>{{s.first_name}} {{s.last_name}}</td>
                  <td>{{s.phone}}</td>
                  <td>{{s.email}}</td>

                  
                   <td>
                    <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                      <i class="icon-wallet font-medium-3 mr-2"></i>
                    </a>
                    <a (click)="deleteTask(s.id)" *ngIf="delete == true" class="danger p-0" data-original-title="Block User" title="Block User">
                      <i class="ft-user-x font-medium-3 mr-2"></i>
                    </a>
                  </td> 
                </tr>
                

              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
      </div>
    </div>
  
    
  </div>



</div>

<div class='dragdrop-container' *ngIf="currentPage === 'add'"  >

  <div class="row">

    <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right"> Recharge Wallet  </h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">
  
              <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                <div class="form-body">

                 
                  <div class="row">
                    <div class="form-group col-md-12 mb-2">
                      <label for="userinput1">cash </label>
                    <input formControlName="cash" type="number" id="userinput1"  class="form-control border-primary" placeholder="cash" >
                    <div class="text-danger" *ngIf="isSubmitted && formControls.cash.errors?.required">This field is required.
                    </div>
                  </div>

                  </div>

                  
                </div>
  
                <div class="form-actions right">

                    <button  (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                        <i class="ft-x"></i> Cancel
                      </button>

                
                    
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Create
                  </button>


                 

                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>

    
    
   </div>

</div>



<div class='dragdrop-container' *ngIf="currentPage === 'update_commission'">

  <div class="row">

    <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right"> Update Commission</h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">
  
              <form class="form" [formGroup]="Userformx" (submit)="comission(Userformx.value)">
                <div class="form-body">

                 
                  <div class="row">
                    <div class="form-group col-md-12 mb-2">
                      <label for="comission">Commission </label>
                    <input formControlName="comission" type="number" id="comission" 
                     class="form-control border-primary" placeholder="comission In Percentage " >
                    <div class="text-danger" *ngIf="isSubmitted && formControls.comission.errors?.required">This field is required.
                    </div>
                  </div>
                  </div>

                  
                </div>
  
                <div class="form-actions right">

                    <button  (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                        <i class="ft-x"></i> Cancel
                      </button>

                
                    
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Update
                  </button>


                 

                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>

    
    
   </div>

</div>

<div class='dragdrop-container' *ngIf="currentPage === 'blocklist'">

  <br>

  <button (click)="showPage('list')" type="submit" class="btn btn-raised btn-warning mr-1  leftx">
   {{"Back" | translate}}

  </button> 
  <br>
  <br>
  <br>
    
  <div class="row ">
  
    
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">{{"Wly Alamer" | translate}} </h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <div class="col-md-6 justify-content-center text-center m-auto mb-4">
              <form class="navbar-form navbar-right mt-1 w-100 mb-2" role="search">
                <div class="position-relative has-icon-right">
                    <input   (keyup)="search3($event.target.value)"   type="text" class="form-control round" placeholder="Search">
                    <div class="form-control-position">
                        <i class="ft-search"></i>
                    </div>
                </div>
            </form>
            </div>
            <table class="table table-responsive-md text-center">
              <thead>
                <tr>
                  <th>{{"Image" | translate}} </th>
                  <th>{{"Name" | translate}}</th>
                  <th>{{"phone" | translate}}</th>
                  <th>{{"Email" | translate}}</th>
                  <th>{{"Action" | translate}}</th>
                </tr>
              </thead>
              <tbody>
              
                  
                <tr *ngFor="let s of show_blockedwlyamer | paginate: { itemsPerPage: 10, currentPage: p }">
                <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                      style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                  <td>{{s.first_name}} {{s.last_name}}</td>
                  <td>{{s.phone}}</td>
                  <td>{{s.email}}</td>

                  
                   <td>
                   
                    
                    <a (click)="unblock_user(s.id)"  *ngIf="add == true"  class="success p-0" data-original-title="UnBlock User" title="Delete User">
                      <i class="ft-user-check  font-medium-3 mr-2"></i>
                    </a>
                  </td> 
                </tr>
                

              </tbody>
            </table>
          </div>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>

        </div>
      </div>
    </div>
  
    
  </div>



</div>




