<div class="row justify-content-center">

	<div class="col-xl-12 col-lg-12 col-md-12 col-12">
		
		<div class="card">
		
			
			<div class="card-content">
			  <div class="px-3">
  
				<form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
				  <div class="form-body">
  
  
					<div class="row justify-content-center">
  
					
						
					  <div class="form-group col-md-5 mb-2">
						<label for="date_from"> Start Date</label>
						<input formControlName="date_from" type="date" id="date_from" class="form-control border-primary"
						 >
				 
					  </div>
  
					  <div class="form-group col-md-5 mb-2">
						<label for="date_to"> End Date</label>
						<input formControlName="date_to" type="date" id="date_to" class="form-control border-primary"
						>
					  
					  </div>

					  <div class="form-group col-md-2 mb-2">
					
						<button style="margin-top: 30px;" type="submit" class="btn btn-raised btn-primary">
							<i class="fa fa-check-square-o"></i> Update
						  </button>

					  </div>
  
					 
	
  
  
					</div>
  
  
				  </div>
  
				
				  
				</form>
  
			  </div>
			</div>
		  </div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0"> {{student}}</h3>
							<span>Total Students</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-users font-large-1"> </i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-ibiza-sunset">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{trainer}}</h3>
							<span>  {{ "Total trainers"|translate}}</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-users font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-green-tea">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{wlyAlamer}}</h3>
							<span>Total wlyAlamer</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-users font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-pomegranate">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0"> {{Specialisties_count}}</h3>
							<span>Total Specialisties</span>
						</div>
						<div class="media-right white text-right">
							<i class="ft-users font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row justify-content-center">
	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0"> {{test_count}}</h3>
							<span>Total testes</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-puzzle font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-ibiza-sunset">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{country}}</h3>
							<span>Total countries</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-pointer font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-green-tea">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{languages}}</h3>
							<span>Total languages</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-flag font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-pomegranate">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0"> {{institutions}}</h3>
							<span>Total institutions</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-home font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-blackberry">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0"> {{reservation}}</h3>
							<span>Total reservation</span>
						</div>
						<div class="media-right white text-right">
							<i class=" icon-paper-clip font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xl-3 col-lg-6 col-md-6 col-12">
		<div class="card gradient-ibiza-sunset">
			<div class="card-content">
				<div class="card-body pt-2 pb-0">
					<div class="media">
						<div class="media-body white text-left">
							<h3 class="font-large-1 mb-0">{{payment}}</h3>
							<span>Total payment</span>
						</div>
						<div class="media-right white text-right">
							<i class="icon-wallet font-large-1"></i>
						</div>
					</div>
				</div>
				<div id="Widget-line-chart" class="height-75 WidgetlineChart WidgetlineChartshadow mb-2">
					<x-chartist class="" [data]="WidgetlineChart.data" [type]="WidgetlineChart.type"
						[options]="WidgetlineChart.options" [responsiveOptions]="WidgetlineChart.responsiveOptions"
						[events]="WidgetlineChart.events">
					</x-chartist>
				</div>

			</div>
		</div>
	</div>




</div>