<div>
    <h4 *ngIf="currentPage === 'list' && all == true " ><i class="icon-wallet"></i> {{"Payment list" | translate}} </h4>
  
    <br>
  
    <button *ngIf=" add == true " (click)="showPage('add')" type="submit" class="btn btn-raised btn-primary  rightx">
       <i class="ft-clipboard"></i>  {{"New Payment Type" | translate}}
  
    </button>
    <br>
    <br>
    <br> 

  
      <!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->

  
    <div class='dragdrop-container'  *ngIf="currentPage === 'list' && all == true " >
  
      <div class="row text-left justify-content-center" matchHeight="card">
        <div class="col-md-6 justify-content-center text-center m-auto mb-4">
          <form class="navbar-form navbar-right mt-1 w-100 mb-2" role="search">
            <div class="position-relative has-icon-right">
                <input   (keyup)="search3($event.target.value)"   type="text" class="form-control round" placeholder="Search">
                <div class="form-control-position">
                    <i class="ft-search"></i>
                </div>
            </div>
        </form>
        </div>
        <div class="row w-100">
          <div class="col-xl-4 col-lg-4 col-12" *ngFor="let s of branch | paginate: { itemsPerPage: 6, currentPage: p }">
            <div class="card">
              <div class="card-header" style="float: right;">
    
                <a (click)="deleteTask(s.id)" *ngIf=" delete == true " class="danger p-0" style="float: right;" data-original-title="" title="">
                  <i class="ft-x font-medium-3 mr-2"></i>
                </a>
                <a (click)="updatetask('edit',s.id)" *ngIf=" update == true " class="success p-0" style="float: right;" data-original-title=""
                  title="">
                  <i class="ft-edit-2 font-medium-3 mr-2"></i>
                </a>
              </div>
              <div class="card-content" style="cursor: pointer;">
                <div class=" py-3" style="  padding-bottom:0px !important;">
                  <div class="media align-self-center">
                    <div class="media-body text-center">
                      <h3 class="mb-1" style="font-family: 'Poppins', 'Janna', sans-serif ">{{s.name}}</h3>
                   
                      <hr style="margin-top: 0px !important; border-color: black;width: 120px; ">
                    
                      
                  
                      
    
                    </div>
    
                   
                    <!-- <div class="media-right align-self-center">
                                <i class="icon-flag danger font-large-2 float-right"></i>
                              </div> -->
                  </div>
                </div>
              </div>
             
              
            </div>
          </div>
        </div>

  
  
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'add'">
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"New Payment Type" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
  
  
  
                <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
                      <div class="form-group col-md-12 mb-2">
                        <label for="name">Name In Arabic </label>
                        <input formControlName="name" type="text" id="name" class="form-control border-primary"
                          placeholder="name In Arabic">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_name">Name In English </label>
                        <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                          placeholder="name In English">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      
                  
                      
                      
                    </div>
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'edit'">
  
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"Update Payment Type" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
  
  
  
                <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
                      <div class="form-group col-md-12 mb-2">
                        <label for="name">Name In Arabic </label>
                        <input formControlName="name" type="text" id="name" class="form-control border-primary"
                          placeholder="name In Arabic">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_name">Name In English </label>
                        <input formControlName="E_name" type="text" id="E_name" class="form-control border-primary"
                          placeholder="name In English">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_name.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      
                  
                      
                      
                    </div>
  
  
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  
  
  </div>