.profile-menu{
    .active{
        border-bottom: 2px solid;
        margin-bottom: -2px;
    }
}

.primary {
    color: #03254C   !important;
}

.btn-success.btn-raised, .btn-success.btn-fab{
    background-color: black   !important;
    border-color: black !important;
    color: white !important;
}


.media img, .media iframe {
    margin-right: 0px !important;
}

