
<section id="user-profile">
  <div class="row justify-content-center">
      <div class="col-8">
          <div class="card profile-with-cover">
              <div class="card-img-top img-fluid bg-cover height-300" style="background-color: #000;"></div>
              <div class="media profil-cover-details row">
                  <div class="col-5">
                      <div class="align-self-start halfway-fab pl-3 pt-2">
                          <div class="text-left">
                              <h3 class="card-title white">{{first_name}} {{last_name}} </h3>
                          </div>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="align-self-center halfway-fab text-center">
                          <a class="profile-image">
                              <img src="{{imgSrc}}"
                               class="rounded-circle img-border gradient-summer width-100 height-100" alt="Card image">
                          </a>
                      </div>
                  </div>
                  <div class="col-5">                        
                  </div>                    
              </div>
              <div class="profile-cover-buttons">
                  <div class="media-body halfway-fab align-self-end">
                      <div class="text-right d-none d-sm-none d-md-none d-lg-block">

                        <button (click)="showPage('update')" type="button" class="btn btn-primary btn-raised mr-3"><i class="fa ft-edit"></i> Edit Profile</button>
                      </div>
                      <div class="text-right d-block d-sm-block d-md-block d-lg-none">
                          <button type="button" class="btn btn-primary btn-raised mr-2"><i class="fa fa-plus"></i></button>
                          <button type="button" class="btn btn-success btn-raised mr-3"><i class="fa fa-dashcube"></i></button>
                      </div>
                  </div>
              </div>
              <div class="profile-section">
                  <div class="row">
                      <div class="col-lg-5 col-md-5 ">
                          <ul class="profile-menu no-list-style">
                              <!-- <li>
                                  <a (click)="showPage('About')" [ngClass]="currentPage === 'About' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'"> My Profile</a>
                              </li> -->
                           
                              
                          </ul>
                      </div>
                      <div class="col-lg-2 col-md-2 text-center">
                          <span class="font-medium-2 text-uppercase"> {{first_name}} </span>

                        </div>
                      <div class="col-lg-5 col-md-5">
                          <ul class="profile-menu no-list-style">
                              <!-- <li>
                                  <a (click)="showPage('Friends')" 
                                  [ngClass]="currentPage === 'Friends' ? 'primary font-medium-2 font-weight-600 active' : 'primary font-medium-2 font-weight-600'">monitors</a>
                              </li>
                         -->
                              
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Basic User Details Ends-->

<section id="about" *ngIf="currentPage === 'About'">
 
  
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Personal Information</h5>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="mb-3">
                           
                            
                        </div>
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col-6 col-md-6 col-lg-6">
                                <ul class="no-list-style">
                                  
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a style="font-weight: bolder;"><i class="icon-user font-small-3"></i> Name:</a> {{first_name}} {{last_name}} </span>
                                    <span class="d-block overflow-hidden"></span>
                                    </li>

                                 
                                    
                                    
                                </ul>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6">
                                <ul class="no-list-style">
                                  <li class="mb-2">
                                    <span class="text-bold-500 primary"><a style="font-weight: bolder;"><i class="ft-mail font-small-3"></i> Email:</a> {{email}}</span>
                                <span class="d-block overflow-hidden">  </span>
                                </li>
                                    <!-- <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> created_at:</a></span>
                                        <a class="d-block overflow-hidden">  </a>
                                    </li> -->
                                  
                                    
                                </ul>
                            </div>
                            <div class="col-6 col-md-6 col-lg-6">
                                <ul class="no-list-style">
                                    <li class="mb-2">
                                        <span class="text-bold-500 primary"><a style="font-weight: bolder;"><i class="ft-smartphone font-small-3"></i> Phone Number: </a>  {{phone}}  </span>
                                    <span class="d-block overflow-hidden"> </span>
                                    </li>
                                    <!-- <li class="mb-2">
                                        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> state:</a></span>
                                    <span class="d-block overflow-hidden"> </span>
                                    </li> -->
                                   
                                    
                                </ul>
                            </div>
                        </div>
                        <hr>
                       
                        
                    </div>
                </div>
            </div>
        </div>
   
        
    </div>
</section>



<section id="friends" *ngIf="currentPage === 'update'">
  
    
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right">{{"Update Profile " | translate}}</h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">

              

              
  
              <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                <div class="form-body">

                 
                  <div class="row">

                    <div class="col-lg-12 col-md-12">
                      <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                      </div>
                      <br>

                      <fieldset class="form-group">

                          <div class="custom-file  mx-auto d-block">
                              <input type="file" accept="image/*" #fileUploader
                                  formControlName="image" (change)="showPreview($event)"
                                  class="custom-file-input" id="inputGroupFile01">
                              <label class="custom-file-label" for="inputGroupFile01">Choose
                                  file</label>
                          </div>

                          <div class="text-danger"
                              *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                              is required.
                          </div>
                      </fieldset>
                  </div>

                  
                   
                  <div class="form-group col-md-6 mb-2">
                    <label for="first_name">first name </label>
                    <input formControlName="first_name" type="text" id="first_name"
                      class="form-control border-primary" placeholder="last name">
                    <div class="text-danger" *ngIf="isSubmitted && formControls.first_name.errors?.required">This field
                      is required.
                    </div>
                  </div>

                  <div class="form-group col-md-6 mb-2">
                    <label for="last_name">last name </label>
                    <input formControlName="last_name" type="text" id="last_name"
                      class="form-control border-primary" placeholder="last name">
                    <div class="text-danger" *ngIf="isSubmitted && formControls.last_name.errors?.required">This field
                      is required.
                    </div>
                  </div>


                    <div class="form-group col-md-12 mb-2">
                      <label for="userinput3">{{"email" | translate}} </label>
                    <input formControlName="email" type="email" id="userinput3"  class="form-control border-primary" placeholder="email" >
                    <div class="text-danger" *ngIf="isSubmitted && formControls.email.errors?.required">This field is required.
                    </div>
                    </div>

                    <div class="form-group col-md-12 mb-2">
                      <label for="userinput4">{{"password" | translate}} </label>
                    <input formControlName="passwords" type="password" id="userinput4"  class="form-control border-primary" placeholder="password" >
                    <div class="text-danger" *ngIf="isSubmitted && formControls.passwords.errors?.required">This field is required.
                    </div>
                    </div>
                    
                    

                    <div class="form-group col-md-12 mb-2">
                      <label for="phone">Phone  </label>
                      <input formControlName="phone" type="number" id="phone" class="form-control border-primary"
                        placeholder="phone ">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.phone.errors?.required">This field is
                        required.
                      </div>
                    </div>

               
                    

                 
                    
                  </div>

                  
                </div>
  
                <div class="form-actions right">

                    <button  (click)="showPage('About')" class="btn btn-raised btn-warning mr-1">
                        <i class="ft-x"></i> Cancel
                      </button>

                
                    
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Update
                  </button>


                 

                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>

        
      
        
        
    </div>
</section>




