    <h4 ><i class="ft-users"></i> {{"Users" | translate}}   </h4>
  


  
    <div class='dragdrop-container' *ngIf="currentPage === 'list'">


      <button (click)="showPage('blocklist')" type="submit" class="btn btn-raised btn-primary  rightx">
         <i class="ft-user-x font-medium-3 mr-2"></i> {{"show block List" | translate}}

      </button> 
      <br>
      <br>
      <br>

      <div class="row ">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Students" | translate}} </h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"Image" | translate}} </th>
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                      
                    <tr *ngFor="let s of show_students | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                          style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                      <td>{{s.first_name}} {{s.last_name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
  
                      
                       <td>
                        <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                          <i class="icon-wallet font-medium-3 mr-2"></i>
                        </a>

                        <a (click)="deleteTask(s.id)" *ngIf="delete == true" class="danger p-0" data-original-title="Block User" title="Block User">
                          <i class="ft-user-x font-medium-3 mr-2"></i>
                        </a>
                      </td> 
                    </tr>
                    
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Wly Alamer" | translate}} </h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"Image" | translate}} </th>
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                      
                    <tr *ngFor="let s of show_wlyAlamer | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                          style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                      <td>{{s.first_name}} {{s.last_name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
  
                      
                       <td>
                        <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                          <i class="icon-wallet font-medium-3 mr-2"></i>
                        </a>
                        <a (click)="deleteTask(s.id)"  *ngIf="delete == true" class="danger p-0" data-original-title="Block User" title="Block User">
                          <i class="ft-user-x font-medium-3 mr-2"></i>
                        </a>
                      </td> 
                    </tr>
                    
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Trainer" | translate}} </h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"Image" | translate}} </th>
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                      
                    <tr *ngFor="let s of show_trainer | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                          style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                      <td>{{s.first_name}} {{s.last_name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
                      
                      
                       <td>

                        <a [routerLink]="['/previousDealings',s.id]" class="success p-0" 
                        data-original-title="previous Dealings" title="previous Dealings">
                          <i class="icon-book-open font-medium-3 mr-2"></i>
                        </a>

                        <a (click)="wallet('update_commission',s.id)" class="success p-0" 
                        data-original-title="COMMISSION" title="COMMISSION">
                          <i class="icon-present font-medium-3 mr-2"></i>
                        </a>


                        <a (click)="wallet('add',s.id)" class="success p-0" data-original-title="Recharge Wallet" title="Recharge Wallet">
                          <i class="icon-wallet font-medium-3 mr-2"></i>
                        </a>
                        <a (click)="deleteTask(s.id)"  *ngIf="delete == true" class="danger p-0" data-original-title="Block User" title="Block User">
                          <i class="ft-user-x font-medium-3 mr-2"></i>
                        </a>
                      </td> 
                    </tr>
                    
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
          </div>
        </div>
      </div>


  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'add'"  >
  
      <div class="row">
  
        <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" id="from-actions-bottom-right"> Recharge Wallet  </h4>
                <hr>
              </div>
              <div class="card-content">
                <div class="px-3">
      
                  <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                    <div class="form-body">
  
                     
                      <div class="row">
                        <div class="form-group col-md-12 mb-2">
                          <label for="userinput1">cash </label>
                        <input formControlName="cash" type="number" id="userinput1"  class="form-control border-primary" placeholder="cash" >
                        <div class="text-danger" *ngIf="isSubmitted && formControls.cash.errors?.required">This field is required.
                        </div>
                      </div>
  
                      </div>
  
                      
                    </div>
      
                    <div class="form-actions right">
  
                        <button  (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                            <i class="ft-x"></i> Cancel
                          </button>
    
                    
                        
                      <button type="submit" class="btn btn-raised btn-primary">
                        <i class="fa fa-check-square-o"></i> Create
                      </button>
  
  
                     
  
                    </div>
                  </form>
      
                </div>
              </div>
            </div>
          </div>
  
        
        
       </div>
  
    </div>



    <div class='dragdrop-container' *ngIf="currentPage === 'update_commission'">
  
      <div class="row">
  
        <div class="col-md-6 offset-md-3">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title" id="from-actions-bottom-right"> Update Commission</h4>
                <hr>
              </div>
              <div class="card-content">
                <div class="px-3">
      
                  <form class="form" [formGroup]="Userformx" (submit)="comission(Userformx.value)">
                    <div class="form-body">
  
                     
                      <div class="row">
                        <div class="form-group col-md-12 mb-2">
                          <label for="comission">Commission </label>
                        <input formControlName="comission" type="number" id="comission" 
                         class="form-control border-primary" placeholder="comission In Percentage " >
                        <div class="text-danger" *ngIf="isSubmitted && formControls.comission.errors?.required">This field is required.
                        </div>
                      </div>
                      </div>
  
                      
                    </div>
      
                    <div class="form-actions right">
  
                        <button  (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                            <i class="ft-x"></i> Cancel
                          </button>
    
                    
                        
                      <button type="submit" class="btn btn-raised btn-primary">
                        <i class="fa fa-check-square-o"></i> Update
                      </button>
  
  
                     
  
                    </div>
                  </form>
      
                </div>
              </div>
            </div>
          </div>
  
        
        
       </div>
  
    </div>

    <div class='dragdrop-container' *ngIf="currentPage === 'blocklist'">

      <br>

      <button (click)="showPage('list')" type="submit" class="btn btn-raised btn-warning mr-1  leftx">
       {{"Back" | translate}}

      </button> 
      <br>
      <br>
      <br>
        
      <div class="row ">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Students" | translate}} </h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"Image" | translate}} </th>
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                      
                    <tr *ngFor="let s of show_blockedstudent | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                          style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                      <td>{{s.first_name}} {{s.last_name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
  
                      
                       <td>
                     
                        

                        <a (click)="unblock_user(s.id)" class="success p-0" data-original-title="UnBlock User" title="Delete User">
                          <i class="ft-user-check font-medium-3 mr-2"></i>
                        </a>
                      </td> 
                    </tr>
                    
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Wly Alamer" | translate}} </h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"Image" | translate}} </th>
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                      
                    <tr *ngFor="let s of show_blockedwlyamer | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                          style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                      <td>{{s.first_name}} {{s.last_name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
  
                      
                       <td>
                       
                        
                        <a (click)="unblock_user(s.id)" class="success p-0" data-original-title="UnBlock User" title="Delete User">
                          <i class="ft-user-check  font-medium-3 mr-2"></i>
                        </a>
                      </td> 
                    </tr>
                    
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Trainer" | translate}} </h4>
            </div>
            <div class="card-content">
              <div class="card-body">
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"Image" | translate}} </th>
                      <th>{{"Name" | translate}}</th>
                      <th>{{"phone" | translate}}</th>
                      <th>{{"Email" | translate}}</th>
                      <th>{{"Action" | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                  
                      
                    <tr *ngFor="let s of show_blockedtrainer | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><img class="media-object round-media" src="{{imageUrl}}/users/{{s.image}}" alt="Generic placeholder image"
                          style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                      <td>{{s.first_name}} {{s.last_name}}</td>
                      <td>{{s.phone}}</td>
                      <td>{{s.email}}</td>
  
                      
                       <td>
                       
                        
                        <a (click)="unblock_user(s.id)" class="success p-0" data-original-title="UnBlock User" title="Delete User">
                          <i class="ft-user-check  font-medium-3 mr-2"></i>
                        </a>
                      </td> 
                    </tr>
                    
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>

            </div>
          </div>
        </div>
      </div>


  
    </div>
  
  
    
  
