<div >
  <h4   *ngIf="currentPage === 'list' && all == true "  ><i class="icon-directions"></i> Privacy Policy</h4>


    
<!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && all != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->



  <div class='dragdrop-container'  *ngIf="currentPage === 'list' && all == true " >

    <button  (click)="updatetask('edit')" *ngIf="update == true" class="btn btn-raised btn-primary  rightx m-1">
      Edit Privacy Policy
      </button>
    
      <button  (click)="changepage('addsub')" class="btn btn-raised btn-primary  rightx m-1">
        Add New subject
        </button>
      
    
      <br>
      <br>

      <div>
          <br>          
        
          <p class="text-center">
            {{content}}  
            
          </p>

          <div class="row text-left justify-content-center" matchHeight="card" style="width: 80%; margin: auto;">
            <div class="col-xl-4 col-lg-4 col-12" *ngFor="let s of subjects | paginate: { itemsPerPage: 6, currentPage: p }">
              <div class="card">
                <div class="card-header" style="float: right;">
      
                  <a (click)="deleteTask(s.id)" class="danger p-0" style="float: right;" data-original-title="" title="">
                    <i class="ft-x font-medium-3 mr-2"></i>
                  </a>
                  <a (click)="updatetaskx('editsub',s.id)" class="success p-0" style="float: right;" data-original-title=""
                    title="">
                    <i class="ft-edit-2 font-medium-3 mr-2"></i>
                  </a>
                </div>
                <div class="card-content" style="cursor: pointer;">
                  <div class=" py-3" style="  padding-bottom:0px !important;">
                    <div class="media align-self-center">
                      <div class="media-body text-center">
                        <h3 class="mb-1" style="font-family: 'Poppins', 'Janna', sans-serif ">{{s.title}}</h3>
                     
                        <hr style="margin-top: 0px !important; border-color: black;width: 120px; ">
                      
                        
                    
                        
      
                      </div>
      
                     
                      <!-- <div class="media-right align-self-center">
                                  <i class="icon-flag danger font-large-2 float-right"></i>
                                </div> -->
                    </div>
                  </div>
                </div>
               
                
              </div>
            </div>
      
      
          </div>

      </div>
              

              


  </div>

<div class='dragdrop-container' *ngIf="currentPage === 'addsub'" >

  <div class="row">

    <div class="col-md-8 offset-md-2">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right"> New subject 
            </h4>
            <hr>
          </div>
          <div class="card-content">
            <div class="px-3">
  
              <form class="form" [formGroup]="subject" (submit)="onSubmit(subject.value)">
                <div class="form-body">

                <div class="row">

                  <div class="form-group col-md-6 mb-2">
                    <label for="title">title In Arabic </label> 
                  <input formControlName="title" type="text" id="title" 
                   class="form-control border-primary" placeholder="title In Arabic" >
                  <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is required.
                  </div>
                </div>

                <div class="form-group col-md-6 mb-2">
                  <label for="E_title">title In English </label> 
                <input formControlName="E_title" type="text" id="E_title" 
                 class="form-control border-primary" placeholder="title In English" >
                <div class="text-danger" *ngIf="isSubmitted && formControls.E_title.errors?.required">This field is required.
                </div>
              </div>

                
                  <div class="form-group col-md-12 mb-2">
                    <label for="details">details In Arabic  </label>
                    <textarea formControlName="details" 
                    type="text" id="details" rows="5" class="form-control border-primary"
                      placeholder="text In Arabic "></textarea>
                    <div class="text-danger" *ngIf="isSubmitted && formControls.details.errors?.required">This field is required.
                    </div>
                  </div>
                
                  <div class="form-group col-md-12 mb-2">
                    <label for="E_details">details In English  </label>
                    <textarea formControlName="E_details" 
                    type="text" id="E_details" rows="5" class="form-control border-primary"
                      placeholder="text In English "></textarea>
                    <div class="text-danger" *ngIf="isSubmitted && formControls.E_details.errors?.required">This field is required.
                    </div>
                  </div>
                
                </div>

                  
                </div>
  
                <div class="form-actions right">

                    <button  (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                        <i class="ft-x"></i> Cancel
                      </button>

                
                    
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square-o"></i> Create
                  </button>


                 

                </div>
              </form>
  
            </div>
          </div>
        </div>
      </div>
 
      
    
    
   </div>

   </div> 


   <div class='dragdrop-container' *ngIf="currentPage === 'editsub'" >

    <div class="row">
  
      <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right"> Update subject 
              </h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
    
                <form class="form" [formGroup]="subject" (submit)="onUpdatexx(subject.value)">
                  <div class="form-body">
  
                  <div class="row">
  
                    <div class="form-group col-md-6 mb-2">
                      <label for="title">title In Arabic </label> 
                    <input formControlName="title" type="text" id="title" 
                     class="form-control border-primary" placeholder="title In Arabic" >
                    <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is required.
                    </div>
                  </div>
  
                  <div class="form-group col-md-6 mb-2">
                    <label for="E_title">title In English </label> 
                  <input formControlName="E_title" type="text" id="E_title" 
                   class="form-control border-primary" placeholder="title In English" >
                  <div class="text-danger" *ngIf="isSubmitted && formControls.E_title.errors?.required">This field is required.
                  </div>
                </div>
  
                  
                    <div class="form-group col-md-12 mb-2">
                      <label for="details">details In Arabic  </label>
                      <textarea formControlName="details" 
                      type="text" id="details" rows="5" class="form-control border-primary"
                        placeholder="text In Arabic "></textarea>
                      <div class="text-danger" *ngIf="isSubmitted && formControls.details.errors?.required">This field is required.
                      </div>
                    </div>
                  
                    <div class="form-group col-md-12 mb-2">
                      <label for="E_details">details In English  </label>
                      <textarea formControlName="E_details" 
                      type="text" id="E_details" rows="5" class="form-control border-primary"
                        placeholder="text In English "></textarea>
                      <div class="text-danger" *ngIf="isSubmitted && formControls.E_details.errors?.required">This field is required.
                      </div>
                    </div>
                  
                  </div>
  
                    
                  </div>
    
                  <div class="form-actions right">
  
                      <button  (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                          <i class="ft-x"></i> Cancel
                        </button>
  
                  
                      
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
                   
  
                  </div>
                </form>
    
              </div>
            </div>
          </div>
        </div>
   
        
      
      
     </div>
  
     </div> 

   <div class='dragdrop-container' *ngIf="currentPage === 'edit'">

    <div class="row">

      <div class="col-md-8 offset-md-2">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right"> Edit Privacy Policy
              </h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
    
                <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                  <div class="form-body">

                  <div class="row">
                  
                    <div class="form-group col-md-12 mb-2">
                      <label for="text">text In Arabic  </label>
                      <textarea formControlName="text" 
                      type="text" id="text" rows="5" class="form-control border-primary"
                        placeholder="text In Arabic "></textarea>
                      <div class="text-danger" *ngIf="isSubmitted && formControls.text.errors?.required">This field is required.
                      </div>
                    </div>
                  
                    <div class="form-group col-md-12 mb-2">
                      <label for="E_text">text In English  </label>
                      <textarea formControlName="E_text" 
                      type="text" id="E_text" rows="5" class="form-control border-primary"
                        placeholder="text In English "></textarea>
                      <div class="text-danger" *ngIf="isSubmitted && formControls.E_text.errors?.required">This field is required.
                      </div>
                    </div>
                  
                  </div>

                    
                  </div>
    
                  <div class="form-actions right">

                      <button  (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                          <i class="ft-x"></i> Cancel
                        </button>
  
                  
                      
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>


                   

                  </div>
                </form>
    
              </div>
            </div>
          </div>
        </div>
   
        
      
      
     </div>


     </div>



</div>