/* You can add global styles to this file, and also import other style files */

/* @font-face {
  font-family: 'Janna';
  font-style: normal;
  font-weight: 400;
  src: local("Janna Regular"), local("Janna-Regular"), url("../src/assets/fonts/TheMixArabBold.ttf") format("woff2"); 
} */
@font-face {
  font-family: 'Janna';
  font-style: normal;
  font-weight: bold;
  src: local("Janna Medium"), local("Janna-Medium"), url("../src/assets/fonts/TheMixArabBold.ttf") format("woff2"); }


  
body{
  font-family: 'Poppins', 'Janna', sans-serif !important;

}

@media (min-width: 768px) {

    .rightx{
      float: right;
    }

    .leftx{
        float: left;

    }
    }
    

    .app-sidebar .navigation li.has-sub > a:after, .off-canvas-sidebar .navigation li.has-sub > a:after{
      font-family: feather!important;
    }

    pagination-controls{
      text-align: center;
    }
    .ngx-pagination .current{
      background-color:#FFB400  !important;
      border-radius: 5px;
    }

    .btn-primary.btn-raised, .btn-primary.btn-fab{
      background-color:#FFB400  !important;
      border: white !important;

    }
    .bg-danger {
      background-color:black  !important;
  }


  
  a.bg-danger:hover, a.bg-danger:focus, button.bg-danger:hover, button.bg-danger:focus{
    background-color:#FFB400  !important;

  }
  .badge-danger {
    background-color:#FFB400  !important;
}

.btn-warning.btn-raised, .btn-warning.btn-fab{
  background-color:black  !important;
  border: white !important;

}



.inimage{
  width: 350px !important;
  height: 250px !important;
}

@media (max-width: 668px) {

  .inimage{
      width: 100px !important;
      height: 100px !important;
  }

 
  
  }

  

  .ngx-pagination {
    margin-left: 0px !important;
    margin-bottom: 1rem !important;
    padding: 0px !important;
}