<!--Footer Starts-->
<footer>
    <div class="container-fluid">
        <p class="copyright text-center">
                Copyright  &copy;  {{currentDate | date: 'yyyy'}} <a id="pixinventLink" style="color: #FFB400;" target="_blank" href="#"> RifiQ </a>, All rights reserved          
        </p>
        
    </div>
</footer>
<!--Footer Ends-->