<div>
  <h4  *ngIf="currentPage === 'list' && show_blogcategory == true "  ><i class="icon-speech m-1"></i> {{"Blog Category list" | translate}} </h4>


    <br>
  
    <button (click)="showPage('add')" *ngIf="currentPage === 'list' && insert_blogcategory == true "   type="submit" class="btn btn-raised btn-primary  rightx">
       <i class="icon-user-follow"></i>  {{"Create New Blog" | translate}}
  
    </button>

      
       
  <button   (click)="backfun()" type="submit" class="btn btn-raised btn-warning mr-1 leftx">
    {{"Back " | translate}}
  </button>
  
    <br>
    <br>
    <br>  


    <!--Error page starts-->
<section id="error" *ngIf="currentPage === 'list' && show_blogcategory != true " >
  <div class="container-fluid forgot-password-bg">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="row">
          <div class="col-sm-12 text-center">
            <img src="../../assets/img/gallery/error.png" alt="" class="img-fluid error-img mt-2" height="300" width="400">
            <h1 class=" mt-4" style="color: #8671C6;" > {{"not_approved" | translate}} </h1>
            <div class="error-text w-75 mx-auto mt-4">
              <p style="color: #8671C6;">{{"sorry" | translate}}  </p>
            </div>
            <button style="background-color: #8671C6;" class="btn  btn-lg mt-3"><a [routerLink]="['/dashboard']"  class="text-decoration-none text-white">
               {{"Return" | translate}}  </a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Error page ends-->


  
    <div class='dragdrop-container'  *ngIf="currentPage === 'list' && show_blogcategory == true " >
  
      <div class="row text-left">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">{{"Blog" | translate}} </h4>
            </div>
            <div class="card-content">  
              <div class="card-body">
                <div class="col-md-6 justify-content-center text-center m-auto mb-4">
                  <form class="navbar-form navbar-right mt-1 w-100 mb-2" role="search">
                    <div class="position-relative has-icon-right">
                        <input   (keyup)="search2($event.target.value)"   type="text" class="form-control round" placeholder="Search">
                        <div class="form-control-position">
                            <i class="ft-search"></i>
                        </div>
                    </div>
                </form>
                </div>
                <table class="table table-responsive-md text-center">
                  <thead>
                    <tr>
                      <th>{{"Image" | translate}} </th> 
                      <th>{{"Title" | translate}}</th>
                      <th>{{"Description" | translate}}</th>
                      <th>{{"Details" | translate}}</th>
                      <th>{{"Arrange" | translate}}</th>
                      <th>{{"Action" | translate}}</th>

                    </tr>
                  </thead>
                  <tbody>
  
  
                    <tr *ngFor="let s of usersarr | paginate: { itemsPerPage: 10, currentPage: p }">
                      <td><img class="media-object round-media" src="{{imageUrl}}/posts/{{s.image}}"
                          alt="Generic placeholder image" style="height: 50px; width: 50px; border-radius: 25px;" /></td>
                      <td>{{s.title}} </td>
                      <td>{{s.description}}</td>
                      <td>{{s.details}}</td>
                      <td>{{s.arrange}}</td>

  
                      <td>
                      
                        <a (click)=" updatetask('edit', s.id)"  *ngIf=" update_blogcategory == true "  class="success p-0" data-original-title="Edit"
                          title="Edit">
                          <i class="ft-edit-2 font-medium-3 mr-2"></i>
                        </a>
  
                        <a (click)="deleteTask(s.id)" class="danger p-0"  *ngIf=" delete_blogcategory == true "  data-original-title="Delete User"
                          title="Delete User">
                          <i class="ft-x font-medium-3 mr-2"></i>
                        </a>
                      </td>
                    </tr>
  
  
                  </tbody>
                </table>
              </div>
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class='dragdrop-container' *ngIf="currentPage === 'add'">
  
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"New Blog" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
  
  
  
                <form class="form" [formGroup]="Userform" (submit)="onSubmit(Userform.value)">
                  <div class="form-body">
  
  
                    <div class="row">
  
                       <div class="col-lg-12 col-md-12">
                        <div class="text-center" style="text-align: center; width: 100% ;">
                          <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                        </div>
                        <br>
  
                        <fieldset class="form-group">
  
                          <div class="custom-file  mx-auto d-block">
                            <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                              class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose
                              Image</label>
                          </div>
  
                          <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                            is required.
                          </div>
                        </fieldset>
                      </div> 
  
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="title">Title In Ar </label>
                        <input formControlName="title" type="text" id="title" class="form-control border-primary"
                          placeholder="">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-6 mb-2">
                        <label for="E_title">Title In En</label>
                        <input formControlName="E_title" type="text" id="E_title" 
                        class="form-control border-primary"
                          placeholder="">
                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_title.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="description">Description In Ar </label>
<!--                         <input formControlName="description" type="text" id="description" class="form-control border-primary"
                          placeholder=""> -->
                          <textarea class="form-control" formControlName="description" id="description" rows="5"></textarea>
                        <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_description">Description In En</label>
<!--                         <input formControlName="E_description" type="text" id="E_description" 
                        class="form-control border-primary"
                          placeholder=""> -->
                          <textarea class="form-control" formControlName="E_description" id="E_description" rows="5"></textarea>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_description.errors?.required">This field is
                          required.
                        </div>
                      </div>


                      <div class="form-group col-md-12 mb-2">
                        <label for="details">Details In Ar </label>
<!--                         <input formControlName="details" type="text" id="details" class="form-control border-primary"
                          placeholder=""> -->
                          <textarea class="form-control" formControlName="details" id="details" rows="5"></textarea>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.details.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
  
                      <div class="form-group col-md-12 mb-2">
                        <label for="E_details">Details In En</label>
<!--                         <input formControlName="E_details" type="text" id="E_details" 
                        class="form-control border
                        -primary"
                          placeholder=""> -->
                          <textarea class="form-control" formControlName="E_details" id="E_details" rows="5"></textarea>

                        <div class="text-danger" *ngIf="isSubmitted && formControls.E_details.errors?.required">This field is
                          required.
                        </div>
                      </div>
  
                      
                     <div class="form-group col-md-12 mb-2">
                      <label for="arrange">Arrange</label>
                      <input formControlName="arrange" type="text" id="arrange" 
                      class="form-control border-primary"
                        placeholder="">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.arrange.errors?.required">This field is
                        required.
                      </div>
                    </div>

                    </div>
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Create
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>
        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
    <div class='dragdrop-container' *ngIf="currentPage === 'edit'">
  
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title" id="from-actions-bottom-right">{{"Update Blog" | translate}}</h4>
              <hr>
            </div>
            <div class="card-content">
              <div class="px-3">
  
  
                <form class="form" [formGroup]="Userform" (submit)="onUpdate(Userform.value)">
                  <div class="form-body">
  
  
                  
                    <div class="row">
  
                      <div class="col-lg-12 col-md-12">
                       <div class="text-center" style="text-align: center; width: 100% ;">
                         <img [src]="imgSrc" class="inimage" (click)="fileUploader.click()">
                       </div>
                       <br>
 
                       <fieldset class="form-group">
 
                         <div class="custom-file  mx-auto d-block">
                           <input type="file" accept="image/*" #fileUploader (change)="showPreview($event)"
                             class="custom-file-input" id="inputGroupFile01">
                           <label class="custom-file-label" for="inputGroupFile01">Choose
                             Image</label>
                         </div>
 
                         <div class="text-danger" *ngIf="isSubmitted && formControls.logo.errors?.required">This field
                           is required.
                         </div>
                       </fieldset>
                     </div> 
 
 
 
                     <div class="form-group col-md-6 mb-2">
                       <label for="title">Title In Ar </label>
                       <input formControlName="title" type="text" id="title" class="form-control border-primary"
                         placeholder="">
                       <div class="text-danger" *ngIf="isSubmitted && formControls.title.errors?.required">This field is
                         required.
                       </div>
                     </div>
 
 
                     <div class="form-group col-md-6 mb-2">
                       <label for="E_title">Title In En</label>
                       <input formControlName="E_title" type="text" id="E_title" 
                       class="form-control border-primary"
                         placeholder="">
                       <div class="text-danger" *ngIf="isSubmitted && formControls.E_title.errors?.required">This field is
                         required.
                       </div>
                     </div>
 
 
 
                     <div class="form-group col-md-12 mb-2">
                       <label for="description">Description In Ar </label>
<!--                        <input formControlName="description" type="text" id="description" class="form-control border-primary"
                         placeholder=""> -->
                         <textarea class="form-control" formControlName="description" id="description" rows="5"></textarea>

                       <div class="text-danger" *ngIf="isSubmitted && formControls.description.errors?.required">This field is
                         required.
                       </div>
                     </div>
 
 
                     <div class="form-group col-md-12 mb-2">
                       <label for="E_description">Description In En</label>
<!--                        <input formControlName="E_description" type="text" id="E_description" 
                       class="form-control border-primary"
                         placeholder=""> -->
                         <textarea class="form-control" formControlName="E_description" id="E_description" rows="5"></textarea>

                       <div class="text-danger" *ngIf="isSubmitted && formControls.E_description.errors?.required">This field is
                         required.
                       </div>
                     </div>


                     <div class="form-group col-md-12 mb-2">
                       <label for="details">Details In Ar </label>
<!--                        <input formControlName="details" type="text" id="details" class="form-control border-primary"
                         placeholder=""> -->
                         <textarea class="form-control" formControlName="details" id="details" rows="5"></textarea>

                       <div class="text-danger" *ngIf="isSubmitted && formControls.details.errors?.required">This field is
                         required.
                       </div>
                     </div>
 
 
                     <div class="form-group col-md-12 mb-2">
                       <label for="E_details">Details In En</label>
<!--                        <input formControlName="E_details" type="text" id="E_details" 
                       class="form-control border-primary"
                         placeholder=""> -->
                         <textarea class="form-control" formControlName="E_details" id="E_details" rows="5"></textarea>

                       <div class="text-danger" *ngIf="isSubmitted && formControls.E_details.errors?.required">This field is
                         required.
                       </div>
                     </div>

                     <div class="form-group col-md-12 mb-2">
                      <label for="arrange">Arrange</label>
                      <input formControlName="arrange" type="text" id="arrange" 
                      class="form-control border-primary"
                        placeholder="">
                      <div class="text-danger" *ngIf="isSubmitted && formControls.arrange.errors?.required">This field is
                        required.
                      </div>
                    </div>
 

                   </div>
                   
  
                  </div>
  
                  <div class="form-actions right">
  
                    <button (click)="showPage('list')" class="btn btn-raised btn-warning mr-1">
                      <i class="ft-x"></i> Cancel
                    </button>
  
  
  
                    <button type="submit" class="btn btn-raised btn-primary">
                      <i class="fa fa-check-square-o"></i> Update
                    </button>
  
  
  
  
                  </div>
                </form>
  
              </div>
            </div>
          </div>

        </div>
  
  
  
  
  
      </div>
  
    </div>
  
  
  
  </div>